$name: 'ivue-page';

.#{$name} {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  // 数据总条数文字
  &-total {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    margin-right: 10px;
  }

  // 上一页
  &-prev {
    i {
      transition: color .2s ease-in-out;
      font-size: 20px;
    }
  }

  // 选项
  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    min-width: 32px;
    height: 32px;
    line-height: 30px;
    list-style: none;
    cursor: pointer;
    color: $arrow-color;
    border: 1px solid $border-color;
    border-radius: 4px;
    transition: border .2s ease-in-out;

    &:hover {
      color: $primary-color;
      border-color: $primary-color;
    }
  }

  // slot
  &-slot {
    border-color: transparent;
  }

}
