@import "../custom.scss";

@import "../animation/index.scss";

$name: 'ivue-carousel';

.#{$name} {
  position: relative;

  // 横向
  &-horizontal {
    overflow: hidden;
  }

  // 内容
  &-content {
    position: relative;
    height: 200px;
  }

  // item
  &-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    z-index: 0;

    // 激活
    &--active {
      z-index: 0;
    }

    // 动画
    &--animating {
      transition: transform .4s ease-in-out;
    }
  }

  // 箭头
  .#{$name}-arrow {
    position: absolute;
    top: 50%;
    text-align: center;
    font-size: 12px;
    font-family: inherit;
    line-height: inherit;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    width: 36px;
    min-width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    transition: all .2s;
    color: $white-color;
    background-color: rgba(31, 45, 61, .11);
    z-index: 10;

    i {
      font-size: 24px;
    }

    &.left {
      left: 16px;
    }


    &.right {
      right: 16px;
    }

  }

  // 指示器
  &-dots {
    $padding: 7px;
    position: relative;
    display: none;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 3px + $padding * 2;
    z-index: 10;

    // 内部
    &-inside {
      display: block;
      position: absolute;
      bottom: 10px - $padding;
    }

    // 外部
    &-outside {
      display: block;
      margin-top: 10px - $padding;
    }

    li {
      position: relative;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      margin: 0 2px;
      padding: $padding 0;
      cursor: pointer;

      button {
        border: 0;
        opacity: .3;
        width: 16px;
        height: 3px;
        border-radius: 3px;
        outline: none;
        font-size: 0;
        display: block;
        cursor: pointer;
        color: transparent;
        background: #8391a5;
        transition: all .4s ease-in-out;

        &.radius {
          padding: 0;
          width: 6px;
          height: 6px;
          border-radius: 50%;
        }
      }

      &:hover>button {
        opacity: 0.7;
      }

      &.#{$name}-dots--active>button {
        opacity: 1;
        width: 24px;

        &.radius {
          width: 6px;
        }
      }
    }
  }
}
