$name: 'ivue-back-top';

.#{$name} {
  position: fixed;
  cursor: pointer;
  z-index: 10;

  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: var(--ivue-primary-color);
    color: var(--ivue-white-color);
    border-radius: 8px;
  }
}
