$name: 'ivue-progress';

.#{$name} {
  display: flex;
  align-items: center;
  position: relative;
  font-size: $font-small-size;
  width: 100%;
  color: $primary-color;
  background: none !important;

  // 进度条
  &-outer {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  &-show-info &-outer {
    padding-right: 55px;
    margin-right: -55px;
  }

  // 内容
  &-inner {
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: $progress-bg;
    border-radius: 100px;
    vertical-align: middle;
    overflow: hidden;

    // 文字
    &-text {
      display: inline-block;
      vertical-align: middle;
      color: $white-color;
      font-size: 12px;
      margin: 0 6px;
    }
  }

  // 背景颜色
  &-bg {
    text-align: right;
    position: relative;
    border-radius: 100px;
    background-color: currentColor;
    transition: all .6s $ivue-transition-default-timing;
    animation-duration: 3s;
  }

  &-success-bg {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100px;
    background-color: $success-color;
    transition: all .6s $ivue-transition-default-timing;
    animation-duration: 3s;
  }

  &-text {
    display: flex;
    margin-left: 5px;
    text-align: left;
    color: #4A505E;

    .ivue-icon {
      min-width: auto;
      width: auto;
      font-size: 12px;
      height: auto;
    }
  }

  &-text-inner {
    vertical-align: middle;

    &>i {
      vertical-align: initial;
      width: auto;
      height: auto;
      min-width: auto;
      font-size: $font-small-size;
    }
  }

  &-success {
    .#{$name}-bg {
      background-color: $success-color;
    }

    .#{$name}-text {
      color: $success-color;
    }
  }

  &-wrong {
    .#{$name}-bg {
      background-color: $error-color;
    }

    .#{$name}-text {
      color: $error-color;
    }
  }

  &-warning {
    .#{$name}-bg {
      background-color: $warning-color;
    }

    .#{$name}-text {
      color: $warning-color;
    }
  }

  &-active {
    .#{$name}-bg:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $white-color;
      border-radius: 10px;
      opacity: 0;
      animation: ivue-progress-active 2s ease infinite;
    }
  }


  // 垂直
  &-vertical {
    height: 100px;
    width: auto;
    flex-direction: column;
    justify-content: center;

    .#{$name}-outer {
      height: 100%;
      width: auto;
      padding: 0;
      margin: 0;
    }

    .#{$name}-bg {
      display: inline-block;
      vertical-align: bottom;

      &:before {
        top: auto;
        animation: ivue-progress-active-vertical 2s ease infinite;
      }
    }

    .#{$name}-inner {
      height: 100%;
      width: auto;

      &:after {
        content: "";
        height: 100%;
        display: inline-block;
        vertical-align: bottom;

      }
    }

    .#{$name}-text {
      margin-left: 0;
    }
  }

  // 是否为动画进度条
  &-indeterminate {
    animation: indeterminate 3s infinite;

  }
}

.progress-fade-enter-active,
.progress-fade-leave-active {
  transition: opacity .3s;
}

.progress-fade-enter-from,
.progress-fade-leave-to {
  opacity: 0;
}

@keyframes ivue-progress-active {
  0% {
    opacity: .3;
    width: 0;
  }

  100% {
    opacity: 0;
    width: 100%;
  }
}

@keyframes ivue-progress-active-vertical {
  0% {
    opacity: .3;
    height: 0;
  }

  100% {
    opacity: 0;
    height: 100%;
  }
}

@keyframes indeterminate {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}
