$name: 'ivue-radio';

:root {
  --#{$name}-margin-right: 4px;

  // wrapper
  --#{$name}-wrapper-margin-right: 8px;
  --#{$name}-wrapper-font-size: 14px;

  // inner
  --#{$name}-inner-size: 16px;
  --#{$name}-inner-after-size: 10px;
  --#{$name}-inner-after-position: 2px;
  --#{$name}-inner-after-radius: 6px;

  // border
  --#{$name}-border-height: 32px;
  --#{$name}-border-line-height: 30px;
  --#{$name}-border-padding: 0 15px;

  // group
  --#{$name}-group-vertical-wrapper-size: 30px;
  --#{$name}-group-radius: 4px;

  // button
  --#{$name}-button-wrapper-height: 32px;
  --#{$name}-button-wrapper-line-height: 30px;
  --#{$name}-button-wrapper-padding: 0 15px;

  // large
  --#{$name}-large-wrapper-height: 40px;
  --#{$name}-large-wrapper-font-size: 16px;

  // small
  --#{$name}-small-wrapper-height: 24px;
  --#{$name}-small-padding: 0 12px;
  --#{$name}-small-radius: 3px;

  // color
  --#{$name}-disabled-bg: #f8f9fd;
}

.#{$name} {
  display: inline-block;
  margin-right: var(--#{$name}-margin-right);
  white-space: nowrap;
  position: relative;
  line-height: 1;
  vertical-align: middle;
  cursor: pointer;

  // 显示边框
  &-border {
    border: 1px solid var(--ivue-border-color);
    border-radius: var(--ivue-border-radius);
    height: var(--#{$name}-border-height);
    line-height: var(--#{$name}-border-line-height);
    padding: var(--#{$name}-border-padding);
    transition: var(--ivue-all-transition);
  }

  // 最外层
  &-wrapper {
    margin-right: var(--#{$name}-wrapper-margin-right);
    font-size: var(--#{$name}-wrapper-font-size);
    vertical-align: middle;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    cursor: pointer;

    // 显示边框
    &--checked.#{$name}-border {
      border-color: var(--ivue-primary-color);
    }

    // 禁用
    &--disabled {
      cursor: var(--ivue-cursor-disabled);
      color: var(--ivue-disabled-color);
    }

    &--disabled.#{$name}-border {
      border-color: var(--ivue-border-color);
    }
  }

  // 小圆点
  &-inner {
    display: inline-block;
    width: var(--#{$name}-inner-size);
    height: var(--#{$name}-inner-size);
    position: relative;
    top: 0;
    left: 0;
    background-color: var(--ivue-white-color);
    border: 1px solid var(--ivue-border-color);
    border-radius: 50%;
    transition: var(--ivue-all-transition);

    // 中间圆点
    &::after {
      position: absolute;
      width: var(--#{$name}-inner-after-size);
      height: var(--#{$name}-inner-after-size);
      left: var(--#{$name}-inner-after-position);
      top: var(--#{$name}-inner-after-position);
      border-radius: var(--#{$name}-inner-after-radius);
      display: table;
      border-top: 0;
      border-left: 0;
      content: '';
      background-color: currentColor;
      opacity: 0;
      transition: var(--ivue-all-transition);
      transform: scale(0);
    }
  }

  // 输入框
  &-input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
  }

  // 选中
  &-checked &-inner {
    border-color: currentColor;

    &::after {
      opacity: 1;
      transform: scale(1);
    }
  }

  // 组合
  &-group {
    display: inline-block;
    font-size: var(--#{$name}-wrapper-font-size);
    vertical-align: middle;

    // 垂直
    &--vertical {
      .#{$name}-wrapper {
        display: block;
        height: var(--#{$name}-group-vertical-wrapper-size);
        line-height: var(--#{$name}-group-vertical-wrapper-size);
      }

      .#{$name}-border {
        margin-right: 0;
        margin-bottom: var(--#{$name}-wrapper-margin-right);
      }
    }

    // 按钮
    &--button {
      font-size: 0;
      -webkit-text-size-adjust: none;

      .#{$name}-wrapper {
        position: relative;
        display: inline-block;
        height: var(--#{$name}-button-wrapper-height);
        line-height: var(--#{$name}-button-wrapper-line-height);
        margin: 0;
        padding: var(--#{$name}-button-wrapper-padding);
        font-size: var(--#{$name}-wrapper-font-size);
        color: var(--ivue-title-color);
        transition: var(--ivue-all-transition);
        cursor: pointer;
        border: 1px solid var(--ivue-border-color);
        border-left: 0;
        background: var(--ivue-white-color);

        > span {
          margin-right: 0;
        }

        &:hover {
          position: relative;
          color: var(--ivue-primary-color);
        }

        // 第一个角度
        &:first-child {
          border-radius: var(--#{$name}-group-radius) 0 0
            var(--#{$name}-group-radius);
          border: 1px solid var(--ivue-border-color);
        }

        // 最后一个角度
        &:last-child {
          border-radius: 0 var(--#{$name}-group-radius)
            var(--#{$name}-group-radius) 0;
        }
      }

      // 隐藏小圆点
      .#{$name} {
        width: 0;
        margin-right: 0;
      }

      .#{$name}-wrapper .#{$name}-inner,
      input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      // 显示为实色填底
      &--solid .#{$name}-wrapper--checked:not(.ivue-radio-wrapper-disabled) {
        background: var(--ivue-primary-color);
        color: var(--ivue-white-color);
      }

      // 选中
      .#{$name}-wrapper--checked {
        background: var(--ivue-white-color);
        border-color: var(--ivue-primary-color);
        color: var(--ivue-primary-color);
        box-shadow: -1px 0 0 0 var(--ivue-primary-color);
        z-index: 1;

        &:first-child {
          border-color: var(--ivue-primary-color);
          box-shadow: none;
        }
      }

      // 禁用
      .#{$name}-wrapper--disabled {
        border-color: var(--ivue-border-color);
        background-color: var(--ivue-background-color-select-hover);
        color: var(--ivue-disabled-color);
        cursor: var(--ivue-cursor-disabled);

        &:hover,
        &:first-child {
          border-color: var(--ivue-border-color);
          background-color: var(--ivue-background-color-select-hover);
          color: var(--ivue-disabled-color);
        }
      }

      // 禁用和激活存在
      .#{$name}-wrapper--disabled.#{$name}-wrapper--checked {
        color: var(--ivue-white-color);
        background-color: var(--#{$name}-disabled-bg);
        border-color: var(--ivue-border-color);
        box-shadow: none !important;
      }
    }

    // large
    &--large {
      // 外层
      .#{$name}-wrapper {
        height: var(--#{$name}-large-wrapper-height);
        line-height: calc(var(--#{$name}-large-wrapper-height) - 2px);
        font-size: var(--#{$name}-large-wrapper-font-size);
      }
    }

    // small
    &--small {
      // 外层
      .#{$name}-wrapper {
        height: var(--#{$name}-small-wrapper-height);
        line-height: calc(var(--#{$name}-small-wrapper-height) - 2px);
        padding: var(--#{$name}-small-padding);
        font-size: var(--#{$name}-wrapper-font-size);

        &:first-child {
          border-radius: var(--#{$name}-small-radius) 0 0
            var(--#{$name}-small-radius);
        }
      }
    }
  }

  // 禁用
  &-disabled {
    cursor: var(--ivue-cursor-disabled);
  }

  &-disabled &-inner {
    border-color: var(--ivue-border-color);
    background-color: var(--#{$name}-disabled-bg);

    &::after {
      background-color: var(--ivue-disabled-color);
    }
  }

  &-disabled &-input {
    cursor: var(--ivue-cursor-disabled);
  }
}
