$name: 'ivue-notice';

:root {
  --#{$name}-shadow-color: rgba(0, 0, 0, .2);
  --#{$name}-close-hover-color: #444444;
  --#{$name}-desc-color: #444444;
}

.#{$name} {
  position: fixed;
  width: 335px;
  z-index: 1000;

  .#{$name}-icon {
    position: absolute;
    font-size: 17px;
    width: auto;
    min-width: auto;
    height: auto;
    line-height: 19px;

    &-success {
      color: $success-color;
      display: inline-block;
    }

    &-info {
      color: var(--ivue-primary-color);
    }

    &-warning {
      color: var(--ivue-warning-color);
    }

    &-error {
      color: var(--ivue-error-color);
    }
  }

  &-notice {
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 1px 6px var(--#{$name}-shadow-color);
    overflow: hidden;
    background-color: var(--ivue-white-color);
    transition: opacity .3s,
      transform .3s,
      left .3s,
      right .3s,
      top .4s,
      bottom .3s;


    &.right {
      right: 16px;
    }

    &.left {
      left: 16px;
    }

    &-close {
      position: absolute;
      right: 10px;
      top: 15px;
      outline: none;
      color: var(--ivue-legend-color);
      cursor: pointer;

      i {
        position: relative;
        top: -3px;
        font-size: 16px;
        transition: color .2s ease;
        width: auto;
        min-width: auto;
        height: auto;


        &:hover {
          color: var(--#{$name}-close-hover-color);
        }
      }
    }

    &-have-desc &-close {
      top: 12px;
    }

    &-content-render {
      .#{$name}-desc {
        display: none;
      }
    }

  }

  &-content {
    position: relative;
  }

  &-content-have-icon {
    margin-left: 51px;
  }

  .#{$name}-have-desc.#{$name}-have-icon &-title {
    margin-left: 51px;
  }

  .#{$name}-have-desc.#{$name}-have-icon &-desc {
    margin-left: 51px;
  }

  &-have-desc .#{$name}-icon {
    top: -2px;
    font-size: 36px;
    line-height: 1;
  }

  &-have-icon &-title {
    margin-left: 26px;
  }

  // 标题
  &-title {
    padding-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: var(--ivue-font-default-size);
    line-height: 19px;
    color: var(--ivue-title-color);
    overflow: hidden;
  }

  // 描述
  &-desc {
    font-size: var(--ivue-font-base-siz);
    color: var(--ivue-text-color);
    text-align: justify;
    line-height: 1.5;
  }

  &-have-desc &-title {
    font-weight: bold;
    margin-bottom: 8px;
  }
}

.ivue-notification-fade-enter-from {
  &.right {
    right: 0;
    transform: translateX(100%);
  }

  &.left {
    left: 0;
    transform: translateX(-100%);
  }
}

.ivue-notification-fade-leave-to {
  opacity: 0;
}
