@import "../custom.scss";

$name: 'ivue-message';

.#{$name} {
  position: fixed;
  top: 16px;
  left: 50%;
  font-size: $font-base-size;
  z-index: 1010;
  transform: translateX(-50%);
  pointer-events: none;
  transition: opacity .3s, transform .4s, top .4s;

  &-notice {
    text-align: center;

    &:first-child {
      margin-top: -8px;
    }

    /*关闭按钮*/
    &-close {
      position: absolute;
      right: 4px;
      top: 0;
      bottom: 0;
      color: #999;
      display: flex;
      align-items: center;
      cursor: pointer;

      i {
        font-size: 16px;
        transition: color .2s ease;
        width: auto;
        min-width: auto;
        height: auto;

        &:hover {
          color: #444;
        }
      }
    }
  }

  &-notice-have-background {
    &-success {
      .#{$name}-notice-content {
        color: #fff;
        background: $success-color;
        border: 1px solid $success-color;
      }

      .ivue-icon {
        color: #fff;
      }
    }

    &-info {
      .#{$name}-notice-content {
        background: $primary-color;
        color: #fff;
        border: 1px solid $primary-color;
      }

      .ivue-icon {
        color: #fff;
      }
    }

    &-warning {
      .#{$name}-notice-content {
        background: $warning-color;
        color: #fff;
        border: 1px solid $warning-color;
      }

      .ivue-icon {
        color: #fff;
      }
    }

    &-error {
      .#{$name}-notice-content {
        background: $error-color;
        color: #fff;
        border: 1px solid $error-color;
      }

      .ivue-icon {
        color: #fff;
      }
    }

    .#{$name}-notice-content {
      box-shadow: none;
    }
  }

  /*内容*/
  &-notice-content {
    display: flex;
    align-items: center;
    position: relative;
    padding: 8px 16px;
    pointer-events: all;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: $border-radius-small;

    &-text {
      margin-left: 5px;
      display: inline-block;
    }
  }

  &-notice-closable &-notice-content-text {
    margin-right: 32px;
  }

  &-content {
    span {
      vertical-align: middle;
    }
  }

  &-icon {
    margin-right: 4px;
    font-size: 18px;
    vertical-align: middle;
    width: auto;
    min-width: auto;
    height: auto;

    &-success {
      color: $success-color;
    }

    &-info {
      color: $primary-color;
    }

    &-warning {
      color: $warning-color;
    }

    &-error {
      color: $error-color;
    }
  }

  &-loading {
    margin-right: 4px;
    width: 16px;
    vertical-align: middle;
    color: $primary-color;
  }

  .ivue-progress-circular-overlay {
    stroke: currentColor;
    z-index: 2;
    transition: all .6s ease-in-out;
  }

  .ivue-progress-circular-indeterminate {
    display: inline-block;
  }

  .ivue-load-loop {
    animation: ivue-load-loop 1s linear infinite;
  }

  @keyframes ivue-load-loop {
    from {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(180deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

}

.#{$name}-message-fade-enter-from,
.#{$name}-message-fade-leave-to {
  opacity: 0;
  transform: translate(-50%, -100%);
}
