@import "ivue-loading.scss";

@import "../../components/ivue-elevation/mixins";

$name: 'ivue-button';

:root {
  --#{$name}-min-width: 88px;
  --#{$name}-padding: 0 15px;
  --#{$name}-height: 36px;
  --#{$name}-radius: 5px;
  --#{$name}-font-size: 14px;
  --#{$name}-dense-height: 32px;
  --#{$name}-icon-size: 36px;

  // 圆角
  --#{$name}-set-radius: 18px;

  // disabled
  --#{$name}-disabled-color: rgba(0, 0, 0, .26);

  // loading
  --#{$name}-loading-size: 16px;
  --#{$name}-loading-right: 5px;

  // color
  --#{$name}-raised-disabled: #F8F9FD;
  --#{$name}-readonly-color: rgba(0, 0, 0, 0.12);
  --#{$name}-mask-color: rgba(255, 255, 255, .5);

  // primary
  --#{$name}-primary-shadow-2: rgba(79, 135, 255, .2);
  --#{$name}-primary-shadow-14: rgba(78, 134, 255, .14);
  --#{$name}-primary-shadow-12: rgba(78, 134, 255, .14);

  // light-primary
  --#{$name}-light-primary-lg: linear-gradient(135deg, #71CDFF 0%, #5AB2FF 100%);
  --#{$name}-light-primary-color: #71CDFF;

  --#{$name}-light-primary-shadow-2: rgba(90, 178, 255, .2);
  --#{$name}-light-primary-shadow-14: rgba(90, 178, 255, .14);
  --#{$name}-light-primary-shadow-12: rgba(90, 178, 255, .12);

  // dark-primary
  --#{$name}-dark-primary-lg: linear-gradient(135deg, #3A9FF6 0%, #5B8EFF 100%);
  --#{$name}-dark-primary-color: #3A9FF6;

  --#{$name}-dark-primary-shadow-2: rgba(58, 159, 246, .2);
  --#{$name}-dark-primary-shadow-14: rgba(58, 159, 246, .14);
  --#{$name}-dark-primary-shadow-12: rgba(58, 159, 246, .12);


  // success
  --#{$name}-success-lg: linear-gradient(135deg, #27E2B2 0%, #0DDECE 100%);
  --#{$name}-success-color: #27E2B2;

  --#{$name}-success-shadow-2: rgba(35, 222, 174, .2);
  --#{$name}-success-shadow-14: rgba(35, 222, 174, .14);
  --#{$name}-success-shadow-12: rgba(35, 222, 174, .12);

  // warning
  --#{$name}-warning-lg: linear-gradient(135deg, #FFBD3C 0%, #FFA82D 100%);
  --#{$name}-warning-color: #FFBD3C;

  --#{$name}-warning-shadow-2: rgba(255, 182, 41, .2);
  --#{$name}-warning-shadow-14: rgba(255, 182, 41, .14);
  --#{$name}-warning-shadow-12: rgba(255, 182, 41, .12);

  // error
  --#{$name}-error-lg: linear-gradient(135deg, #FF617F 0%, #FF4772 100%);
  --#{$name}-error-color: #FF617F;

  --#{$name}-error-shadow-2: rgba(255, 86, 118, .2);
  --#{$name}-error-shadow-14: rgba(255, 86, 118, .14);
  --#{$name}-error-shadow-12: rgba(255, 86, 118, .12);

}

.#{$name}-clean {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  outline: none;
  background: transparent;
  border: 0;
  border-radius: 0;
  transition: $ivue-transition-default, color 1ms;
  font-family: inherit;
  line-height: normal;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
}

.isMobile {
  &:before {
    opacity: 0 !important;
  }
}

.#{$name} {
  @extend .ivue-button-clean;
  min-width: var(--#{$name}-min-width);
  height: var(--#{$name}-height);
  text-align: center;
  user-select: none;
  border-radius: var(--#{$name}-radius);
  font-size: var(--#{$name}-font-size);
  font-weight: 500;
  color: currentColor;
  padding: var(--#{$name}-padding);

  @import "./ivue-ripple.scss";

  // 内容
  &-content {
    position: relative;
    z-index: 2;
    color: currentColor;
    display: flex;
    align-items: center;
  }

  // 涟漪
  &-ripple {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
    overflow: hidden;
    box-sizing: border-box;
  }

  // loading
  &-loading {
    position: relative;
    width: var(--#{$name}-loading-size);
    height: var(--#{$name}-loading-size);

    &--wrapper {
      position: relative;
      margin-right: var(--#{$name}-loading-right);
    }

    .ivue-loading-mask {
      background: none;
    }

    .ivue-loading-spinner {
      color: var(--ivue-white-color)
    }
  }

  &:active {
    outline: none;
  }

  &[disabled] {
    color: var(--#{$name}-disabled-color);
    pointer-events: none;
  }

  @media screen and (min-width: 800px) {
    &:not([disabled]) {
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;

      &:hover,
      &:active {
        &:before {
          background-color: currentColor;
          opacity: .12;
        }
      }

      &:active {
        &:before {
          opacity: .2;
        }
      }
    }
  }

  @media screen and (max-width: 800px) {
    &:not([disabled]) {
      &:hover {
        &:before {
          background-color: transparent;
          opacity: .12;
        }
      }
    }
  }

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &:before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    border-radius: inherit;
    transition: $ivue-transition-default;
    will-change: background-color, opacity;
  }

  &.#{$name}--raised:not(.#{$name}--depressed):not(.#{$name}--flat):not([disabled]) {
    will-change: box-shadow;

    @include ivue-elevation(2);

    &:not(.#{$name}--mask):active {
      @include ivue-elevation(8);
    }
  }

  &.ivue-button--raised[disabled] {
    background-color: var(--#{$name}-raised-disabled);
    color: var(--ivue-text-color);
  }

  +.ivue-button {
    margin-left: 0;
  }

  .ivue-ripple {
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--selected {
    color: var(--ivue-white-color) !important;
    background: currentColor;
  }

  &--current {
    border: 1px solid;
    border-color: currentColor !important;
  }

  &--outline {
    border: 1px solid currentColor;
    background: transparent !important;
    box-shadow: none;

    .ivue-button-content {
      color: currentColor;
    }
  }

  &--readonly {
    border-color: transparent !important;
    background-color: var(--#{$name}-readonly-color) !important;
  }

  // 圆角
  &--radius {
    border-radius: var(--#{$name}-set-radius);
  }

  // 蒙版
  &--mask {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 30;
      opacity: 1 !important;
      pointer-events: none;
      background: var(--#{$name}-mask-color) !important;
    }
  }

  // primary
  &--primary {
    background: var(--ivue-primary-color);
    color: var(--ivue-white-color);

    &__color {
      color: var(--ivue-primary-color);
    }

    &.#{$name}--raised:not(.#{$name}--depressed):not(.#{$name}--flat):not([disabled]) {
      box-shadow: 0 10px 10px -5px var(--#{$name}-primary-shadow-2);

      &:not(.#{$name}--mask):active {
        @include ivue-elevation(8,
          var(--#{$name}-primary-shadow-2),
          var(--#{$name}-primary-shadow-14),
          var(--#{$name}-primary-shadow-12));
      }
    }
  }

  // light-primary
  &--light-primary {
    background: var(--#{$name}-light-primary-lg);
    color: var(--ivue-white-color);

    &__color {
      color: var(--#{$name}-light-primary-color);
    }

    &.#{$name}--raised:not(.#{$name}--depressed):not(.#{$name}--flat):not([disabled]) {
      box-shadow: 0 10px 10px -5px var(--#{$name}-light-primary-shadow-2);

      &:not(.#{$name}--mask):active {
        @include ivue-elevation(8,
          var(--#{$name}-light-primary-shadow-2),
          var(--#{$name}-light-primary-shadow-14),
          var(--#{$name}-light-primary-shadow-12));
      }
    }
  }

  // dark-primary
  &--dark-primary {
    background: var(--#{$name}-dark-primary-lg);
    color: var(--ivue-white-color);

    &__color {
      color: var(--#{$name}-dark-primary-color);
    }

    &.#{$name}--raised:not(.#{$name}--depressed):not(.#{$name}--flat):not([disabled]) {
      box-shadow: 0 10px 10px -5px var(--#{$name}-dark-primary-shadow-2);

      &:not(.#{$name}--mask):active {
        @include ivue-elevation(8,
          var(--#{$name}-dark-primary-shadow-2),
          var(--#{$name}-dark-primary-shadow-14),
          var(--#{$name}-dark-primary-shadow-12));
      }
    }
  }

  // success
  &--success {
    background: var(--#{$name}-success-lg);
    color: var(--ivue-white-color);

    &__color {
      color: var(--#{$name}-success-color);
    }

    &.#{$name}--raised:not(.#{$name}--depressed):not(.#{$name}--flat):not([disabled]) {
      box-shadow: 0 10px 10px -5px var(--#{$name}-success-shadow-2);

      &:not(.#{$name}--mask):active {
        @include ivue-elevation(8,
          var(--#{$name}-success-shadow-2),
          var(--#{$name}-success-shadow-14),
          var(--#{$name}-success-shadow-12));
      }
    }
  }

  // warning
  &--warning {
    background: var(--#{$name}-warning-lg);
    color: var(--ivue-white-color);

    &__color {
      color: var(--#{$name}-warning-color);
    }

    &.#{$name}--raised:not(.#{$name}--depressed):not(.#{$name}--flat):not([disabled]) {
      box-shadow: 0 10px 10px -5px var(--#{$name}-warning-shadow-2);

      &:not(.#{$name}--mask):active {
        @include ivue-elevation(8,
          var(--#{$name}-warning-shadow-2),
          var(--#{$name}-warning-shadow-14),
          var(--#{$name}-warning-shadow-12));
      }
    }
  }

  // error
  &--error {
    background: var(--#{$name}-error-lg);
    color: var(--ivue-white-color);

    &__color {
      color: var(--#{$name}-error-color);
    }

    &.#{$name}--raised:not(.#{$name}--depressed):not(.#{$name}--flat):not([disabled]) {
      box-shadow: 0 10px 10px -5px var(--#{$name}-error-shadow-2);

      &:not(.#{$name}--mask):active {
        @include ivue-elevation(8,
          var(--#{$name}-error-shadow-2),
          var(--#{$name}-error-shadow-14),
          var(--#{$name}-error-shadow-12));
      }
    }
  }
}

.ivue-button-spaced .ivue-ripple {
  padding: 0 16px;
}

// icon
.#{$name}--icon {
  width: var(--#{$name}-icon-size);
  min-width: var(--#{$name}-icon-size);
  height: var(--#{$name}-icon-size);
  margin: 0 6px;
  border-radius: 50%;
  padding: 0;

  &::before {
    border-radius: 50%;
  }

  .ivue-ripple {
    border-radius: 50%;
  }

  .ivue-ripple-enter-active {
    transition-duration: 1.2s;
  }

  .ivue-ripple-wave {
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
  }

  .ivue-icon {
    font-size: var(--#{$name}-font-size);
  }
}
