$name: 'ivue-ellipsis';

:root {
  --#{$name}-font-size: 14px;
}

.#{$name} {
  font-size: var(--#{$name}-font-size);
  line-height: 1.5;

  &-hidden {
    visibility: hidden;
  }

  &-tooltip {
    &--wrapper {
      display: block;

      .ivue-tooltip-rel {
        display: block;
      }
    }
  }
}
