@import "../base.scss";

$name:'ivue-popover';

$bg: rgba(56, 61, 71, 0.9);
$light-border: rgba(56, 61, 71, 0.5);

.#{$name} {
  display: inline-block;

  // 描述
  &-rel {
    position: relative;
    display: inline-block;
  }

  // 悬浮框
  &-popper {
    display: block;
    visibility: visible;
    font-size: 14px;
    line-height: initial;
    z-index: 1060;
    min-width: 150px;

    // top
    &[data-popper-placement=top] {
      padding: 5px 0 8px;

      .#{$name}-arrow {
        left: 50%;
        margin-left: -5px;
        bottom: 3px;
        border-width: 5px 5px 0;
        border-top-color: $bg;
      }
    }

    // top-start
    &[data-popper-placement=top-start] {
      padding: 5px 0 8px;

      .#{$name}-arrow {
        left: 16px;
        bottom: 3px;
        border-width: 5px 5px 0;
        border-top-color: $bg;
      }
    }

    // top-end
    &[data-popper-placement=top-end] {
      padding: 5px 0 8px;

      .#{$name}-arrow {
        right: 16px;
        bottom: 3px;
        border-width: 5px 5px 0;
        border-top-color: $bg;
      }
    }

    // left-start
    &[data-popper-placement=left-start] {
      padding: 0 8px 0 5px;

      .#{$name}-arrow {
        top: 8px;
        right: 3px;
        border-width: 5px 0 5px 5px;
        border-left-color: $bg;
      }
    }

    // left
    &[data-popper-placement=left] {
      padding: 0 8px 0 5px;

      .#{$name}-arrow {
        top: 50%;
        margin-top: -5px;
        right: 3px;
        border-width: 5px 0 5px 5px;
        border-left-color: $bg;
      }
    }

    // left-end
    &[data-popper-placement=left-end] {
      padding: 0 8px 0 5px;

      .#{$name}-arrow {
        bottom: 8px;
        right: 3px;
        border-width: 5px 0 5px 5px;
        border-left-color: $bg;
      }
    }

    // right-start
    &[data-popper-placement=right-start] {
      padding: 0 5px 0 8px;

      .#{$name}-arrow {
        top: 8px;
        left: 3px;
        border-width: 5px 5px 5px 0;
        border-right-color: $bg;
      }
    }

    // right
    &[data-popper-placement=right] {
      padding: 0 5px 0 8px;

      .#{$name}-arrow {
        top: 50%;
        margin-top: -5px;
        left: 3px;
        border-width: 5px 5px 5px 0;
        border-right-color: $bg;
      }
    }

    // right
    &[data-popper-placement=right-end] {
      padding: 0 5px 0 8px;

      .#{$name}-arrow {
        bottom: 8px;
        left: 3px;
        border-width: 5px 5px 5px 0;
        border-right-color: $bg;
      }
    }

    // bottom-start
    &[data-popper-placement=bottom-start] {
      padding: 8px 0 5px;

      .#{$name}-arrow {
        left: 16px;
        top: 3px;
        border-width: 0 5px 5px;
        border-bottom-color: $bg;
      }
    }

    // bottom
    &[data-popper-placement=bottom] {
      padding: 8px 0 5px;

      .#{$name}-arrow {
        left: 50%;
        margin-left: -5px;
        top: 3px;
        border-width: 0 5px 5px;
        border-bottom-color: $bg;
      }
    }

    // bottom-end
    &[data-popper-placement=bottom-end] {
      padding: 8px 0 5px;

      .#{$name}-arrow {
        right: 16px;
        top: 3px;
        border-width: 0 5px 5px;
        border-bottom-color: $bg;
      }
    }
  }

  // 内容
  &-content {}

  // inner
  &-inner {
    max-width: 250px;
    min-height: 34px;
    padding: 8px 12px;
    color: $white-color;
    text-align: left;
    text-decoration: none;
    background-color: $bg;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgb(0 0 0 / 20%);
    white-space: nowrap;
    overflow: hidden;
  }

  // arrow
  &-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }

  // title
  &-title {
    position: relative;
    font-weight: bold;
    padding-bottom: 8px;
    border-bottom: 1px solid $white-color
  }

  // 对话框
  &-confirm &-inner {
    white-space: normal;
  }

  &-confirm &-body {
    display: flex;
    align-items: flex-start;
  }

  // body
  &-body {
    margin-top: 8px;

    &--content {
      overflow: auto;
    }

    &--word-wrap {
      white-space: pre-wrap;
      text-align: justify;
    }

    &--message {
      margin-left: 5px;
    }

    .#{$name}-body--icon {
      font-size: 16px;
      color: $warning-color;
      width: auto;
      height: auto;
      min-width: auto;
      margin: 0;
    }
  }

  // 底部
  &-footer {
    text-align: right;
    margin-top: 24px;
  }

  // 底部按钮
  &-footer--button {
    margin-right: 8px;
    font-size: 14px;
    height: 26px;
    padding: 0 7px;
    min-width: auto;
    border-radius: 4px;

    &:last-child {
      margin-left: 8px;
      margin-right: 0;
    }
  }

  // light
  &-light {
    .#{$name}-inner {
      background-color: $white-color;
    }

    .#{$name}-title {
      color: $title-color;
      border-bottom-color: $border-color;
    }

    .#{$name}-body {
      color: $text-color;
    }

    .#{$name}-arrow {
      &:after {
        content: " ";
        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        z-index: -1;
      }
    }

    // top
    &[data-popper-placement=top] {
      .#{$name}-arrow {
        border-top-color: $white-color;

        &:after {
          left: 50%;
          margin-left: -7px;
          bottom: 0;
          border-width: 7px 7px 0;
          border-top-color: $light-border;
        }
      }
    }

    // top-start
    &[data-popper-placement=top-start] {
      .#{$name}-arrow {
        border-top-color: $white-color;

        &:after {
          left: -7px;
          bottom: 0;
          border-width: 7px 7px 0;
          border-top-color: $light-border;
        }
      }
    }

    // top-end
    &[data-popper-placement=top-end] {
      .#{$name}-arrow {
        border-top-color: $white-color;

        &:after {
          right: -7px;
          bottom: 0;
          border-width: 7px 7px 0;
          border-top-color: $light-border;
        }
      }
    }

    // left-start
    &[data-popper-placement=left-start] {
      .#{$name}-arrow {
        border-left-color: $white-color;

        &:after {
          top: -7px;
          right: 0;
          border-width: 7px 0 7px 7px;
          border-left-color: $light-border;
        }
      }
    }

    // left
    &[data-popper-placement=left] {
      .#{$name}-arrow {
        border-left-color: $white-color;

        &:after {
          top: 50%;
          margin-top: -7px;
          right: 0;
          border-width: 7px 0 7px 7px;
          border-left-color: $light-border;
        }
      }
    }

    // left-end
    &[data-popper-placement=left-end] {
      .#{$name}-arrow {
        border-left-color: $white-color;

        &:after {
          bottom: -7px;
          right: 0;
          border-width: 7px 0 7px 7px;
          border-left-color: $light-border;
        }
      }
    }

    // right-start
    &[data-popper-placement=right-start] {
      .#{$name}-arrow {
        border-right-color: $white-color;

        &:after {
          top: -7px;
          left: 0;
          border-width: 7px 7px 7px 0;
          border-right-color: $light-border;
        }
      }
    }

    // right
    &[data-popper-placement=right] {
      .#{$name}-arrow {
        border-right-color: $white-color;

        &:after {
          top: 50%;
          margin-top: -7px;
          left: 0;
          border-width: 7px 7px 7px 0;
          border-right-color: $light-border;
        }
      }
    }

    // right-end
    &[data-popper-placement=right-end] {
      .#{$name}-arrow {
        border-right-color: $white-color;

        &:after {
          bottom: -7px;
          left: 0;
          border-width: 7px 7px 7px 0;
          border-right-color: $light-border;
        }
      }
    }


    // bottom-start
    &[data-popper-placement=bottom-start] {
      .#{$name}-arrow {
        border-bottom-color: $white-color;

        &:after {
          left: -7px;
          top: 0;
          border-width: 0 7px 7px;
          border-bottom-color: $light-border;
        }
      }
    }

    // bottom
    &[data-popper-placement=bottom] {
      .#{$name}-arrow {
        border-bottom-color: $white-color;

        &:after {
          left: 50%;
          margin-left: -7px;
          top: 0;
          border-width: 0 7px 7px;
          border-bottom-color: $light-border;
        }
      }
    }

    // bottom-end
    &[data-popper-placement=bottom-end] {
      .#{$name}-arrow {
        border-bottom-color: $white-color;

        &:after {
          right: -7px;
          top: 0;
          border-width: 0 7px 7px;
          border-bottom-color: $light-border;
        }
      }
    }
  }
}
