@import "../base.scss";
@import "ivue-loading.scss";

@import "../../components/ivue-elevation/mixins";

$name: 'ivue-button';

.#{$name}-clean {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  outline: none;
  background: transparent;
  border: 0;
  border-radius: 0;
  transition: $ivue-transition-default, color 1ms;
  font-family: inherit;
  line-height: normal;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
}

.isMobile {
  &:before {
    opacity: 0 !important;
  }
}

.#{$name} {
  @extend .ivue-button-clean;
  min-width: $ivue-button-min-width;
  height: $ivue-button-height;
  text-align: center;
  user-select: none;
  border-radius: $ivue-button-radius;
  font-size: $ivue-button-font-size;
  font-weight: 500;
  color: currentColor;
  padding: 0 15px;

  @import "./ivue-ripple.scss";

  // 内容
  &-content {
    position: relative;
    z-index: 2;
    color: currentColor;
    display: flex;
    align-items: center;
  }

  // 涟漪
  &-ripple {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
    overflow: hidden;
    box-sizing: border-box;
  }

  // loading
  &-loading {
    position: relative;
    width: 16px;
    height: 16px;

    &--wrapper {
      position: relative;
      margin-right: 5px;
    }

    .ivue-loading-mask {
      background: none;
    }

    .ivue-loading-spinner {
      color: $white-color
    }
  }

  &:active {
    outline: none;
  }

  &[disabled] {
    color: rgba(0, 0, 0, .26);
    pointer-events: none;
  }

  @media screen and (min-width: 800px) {
    &:not([disabled]) {
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;

      &:hover,
      &:active {
        &:before {
          background-color: currentColor;
          opacity: .12;
        }
      }

      &:active {
        &:before {
          opacity: .2;
        }
      }
    }
  }

  @media screen and (max-width: 800px) {
    &:not([disabled]) {
      &:hover {
        &:before {
          background-color: transparent;
          opacity: .12;
        }
      }
    }
  }

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: $ivue-transition-default;
    will-change: background-color, opacity;
    content: " ";
  }

  &.#{$name}--raised:not(.#{$name}--depressed):not(.#{$name}--flat):not([disabled]) {
    will-change: box-shadow;

    @include ivue-elevation(2);

    &:not(.#{$name}--mask):active {
      @include ivue-elevation(8);
    }
  }

  &.ivue-button--raised[disabled] {
    background-color: $ivue-button--raised;
    color: $text-color;
  }

  +.ivue-button {
    margin-left: 0;
  }

  .ivue-ripple {
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--selected {
    color: $white-color !important;
    background: currentColor;
  }

  &--current {
    border: 1px solid;
    border-color: currentColor !important;
  }

  &--outline {
    border: 1px solid currentColor;
    background: transparent !important;
    box-shadow: none;

    .ivue-button-content {
      color: $text-color;
    }
  }

  &--readonly {
    border-color: transparent !important;
    background-color: rgba(0, 0, 0, 0.12) !important;
  }

  // 圆角
  &--radius {
    border-radius: 18px;
  }

  // 蒙版
  &--mask {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 30;
      opacity: 1 !important;
      pointer-events: none;
      background: rgba(255, 255, 255, .5) !important;
    }
  }

  // primary
  &--primary {
    background: #5B8EFF;
    color: $white-color;

    &.#{$name}--raised:not(.#{$name}--depressed):not(.#{$name}--flat):not([disabled]) {
      box-shadow: 0 10px 10px -5px rgba(78, 134, 255, .2);

      &:not(.#{$name}--mask):active {
        @include ivue-elevation(8,
          rgba(78, 134, 255, .2),
          rgba(78, 134, 255, .14), rgba(78, 134, 255, .12));
      }
    }
  }

  // light-primary
  &--light-primary {
    background: linear-gradient(135deg, #71CDFF 0%, #5AB2FF 100%);
    color: $white-color;

    &.#{$name}--raised:not(.#{$name}--depressed):not(.#{$name}--flat):not([disabled]) {
      box-shadow: 0 10px 10px -5px rgba(90, 178, 255, .2);

      &:not(.#{$name}--mask):active {
        @include ivue-elevation(8,
          rgba(90, 178, 255, .2),
          rgba(90, 178, 255, .14), rgba(90, 178, 255, .12));
      }
    }
  }

  // dark-primary
  &--dark-primary {
    background: linear-gradient(135deg, #3A9FF6 0%, #5B8EFF 100%);
    color: $white-color;

    &.#{$name}--raised:not(.#{$name}--depressed):not(.#{$name}--flat):not([disabled]) {
      box-shadow: 0 10px 10px -5px rgba(58, 159, 246, .2);

      &:not(.#{$name}--mask):active {
        @include ivue-elevation(8,
          rgb(58, 159, 246, .2),
          rgba(58, 159, 246, .14), rgba(58, 159, 246, .12));
      }
    }
  }

  // success
  &--success {
    background: linear-gradient(135deg, #27E2B2 0%, #0DDECE 100%);
    color: $white-color;


    &.#{$name}--raised:not(.#{$name}--depressed):not(.#{$name}--flat):not([disabled]) {
      box-shadow: 0 10px 10px -5px rgba(35, 222, 174, .2);

      &:not(.#{$name}--mask):active {
        @include ivue-elevation(8,
          rgba(35, 222, 174, .2),
          rgba(35, 222, 174, .14), rgba(35, 222, 174, .12));
      }
    }
  }

  // warning
  &--warning {
    background: linear-gradient(135deg, #FFBD3C 0%, #FFA82D 100%);
    color: $white-color;


    &.#{$name}--raised:not(.#{$name}--depressed):not(.#{$name}--flat):not([disabled]) {
      box-shadow: 0 10px 10px -5px rgba(255, 182, 41, .2);

      &:not(.#{$name}--mask):active {
        @include ivue-elevation(8,
          rgba(255, 182, 41, .2),
          rgba(255, 182, 41, .14), rgba(255, 182, 41, .12));
      }
    }
  }

  // error
  &--error {
    background: linear-gradient(135deg, #FF617F 0%, #FF4772 100%);
    color: $white-color;


    &.#{$name}--raised:not(.#{$name}--depressed):not(.#{$name}--flat):not([disabled]) {
      box-shadow: 0 10px 10px -5px rgba(255, 86, 118, .2);

      &:not(.#{$name}--mask):active {
        @include ivue-elevation(8,
          rgba(255, 86, 118, .2),
          rgba(255, 86, 118, .14), rgba(255, 86, 118, .12));
      }
    }
  }


}

.ivue-button-spaced .ivue-ripple {
  padding: 0 16px;
}

// icon
.#{$name}--icon {
  width: $ivue-button-icon-size;
  min-width: $ivue-button-icon-size;
  height: $ivue-button-icon-size;
  margin: 0 6px;
  border-radius: 50%;
  padding: 0;

  &::before {
    border-radius: 50%;
  }

  .ivue-ripple {
    border-radius: 50%;
  }

  .ivue-ripple-enter-active {
    transition-duration: 1.2s;
  }

  .ivue-ripple-wave {
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
  }

  .ivue-icon {
    font-size: 14px;
  }
}
