@use 'sass:map';

@use '../mixins/mixins' as *;
@use '../common/var.scss' as *;

$name: 'ivue-avatar';

@include b($name) {
  // 设置组件 css var 变量
  @include set-component-css-var($name, $alert);

  display: inline-flex;
  text-align: center;
  color: getCssVar('ivue-color', 'white');
  background: getCssVar('ivue-disabled', 'color');
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  width: getCssVar($name, 'width');
  height: getCssVar($name, 'width');
  line-height: getCssVar($name, 'width');

  // 图片
  @include m(img) {
    width: 100%;
    height: 100%;
    object-fit: getCssVar('ivue-image-object-fit', 'cover');
  }

  // 圆形
  @include m(circle) {
    border-radius: 50%;
  }

  // 正方形
  @include m(square) {
    border-radius: getCssVar('ivue-radius', '4px');
  }
}
