$name: 'ivue-form';

.#{$name} {

  // item
  &-item {
    display: flex;
    margin-bottom: 20px;

    // 内容
    &--content {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      line-height: 34px;
      min-width: 0;
      font-size: var(--ivue-font-base-size);
    }

    // label
    &--label {
      display: inline-flex;
      justify-content: flex-end;
      align-items: flex-start;
      flex: 0 0 auto;
      font-size: var(--ivue-font-base-size);
      color: var(--ivue-title-color);
      height: 34px;
      line-height: 34px;
      padding: 0 12px 0 0;
    }
  }
}
