$name: 'ivue-carousel-loop';

:root {
  --#{$name}-arrow-bg: rgba(31, 45, 61, .11);
}

.#{$name} {
  position: relative;
  width: 100%;
  height: 100px;

  &:hover .#{$name}-arrow--hover {
    opacity: 1;
  }

  &-scroll {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  // 内容
  &-content {
    position: relative;
    z-index: 1;
    display: flex;

    .copy-track {
      position: absolute;
    }
  }

  &-list {
    position: relative;
    display: flex;
    will-change: transform;
  }


  // 箭头
  .#{$name}-arrow {
    position: absolute;
    top: 50%;
    text-align: center;
    font-size: 12px;
    font-family: inherit;
    line-height: inherit;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    width: 36px;
    min-width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    transition: all .2s;
    color: var(--ivue-white-color);
    background-color: var(--#{$name}-arrow-bg);
    z-index: 15;

    i {
      font-size: 24px;
    }

    &.left {
      left: 16px;
    }

    &.right {
      right: 16px;
    }

    // 悬停
    &--hover {
      opacity: 0;
    }

    // 不显示
    &--never {
      display: none;
    }

    // 外部
    &--outside {
      &.left {
        left: -52px;
      }

      &.right {
        right: -52px;
      }
    }
  }
}
