@import "../custom.scss";

$name: 'ivue-card';

.#{$name} {
  display: block;
  background: $white-color;
  border-radius: 4px;
  font-size: 14px;
  position: relative;
  transition: all .2s ease-in-out;

  &:hover {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    border-color: #eee;
  }


  // 是否显示边框，建议在灰色背景下使用
  &-border {
    border: 1px solid $border-multiple-color;
  }

  // 标题
  &-title {
    border-bottom: 1px solid $border-multiple-color;
    padding: 14px 16px;
    line-height: 1;
  }

  // 额外显示的内容，默认位置在右上角
  &-extra {
    position: absolute;
    right: 16px;
    top: 14px;
    line-height: 1;
  }

  // 内容
  &-body {
    padding: 16px;
  }

  // 禁用鼠标悬停显示阴影
  &-dis-hover {
    &:hover {
      box-shadow: none;
      border-color: $border-multiple-color;
    }
  }
}
