@import '../animation/variables.scss';

$name:'ivue-picker';

:root {
  --#{$name}-radius: 2px;
  --#{$name}-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2),
    0 1px 1px 0 rgba(0, 0, 0, .14),
    0 1px 3px 0 rgba(0, 0, 0, .12);

  // title
  --#{$name}-title-padding: 16px;

  // landscape
  --#{$name}-landscape-title-width: 170px;

}

.#{$name} {
  border-radius: var(--#{$name}-radius);
  contain: layout style;
  flex-direction: column;
  vertical-align: top;

  &-card {
    position: relative;
    border-radius: var(--#{$name}-radius);
    min-width: 0;
    transition: $ivue-transition-default;
    box-shadow: var(--#{$name}-shadow)
  }

  &-title {
    border-top-left-radius: var(--#{$name}-radiu);
    border-top-right-radius: var(--#{$name}-radiu);
    padding: var(--#{$name}-title-padding);
    color: var(--ivue-white-color);
  }

  &-body {
    height: auto;
    overflow: hidden;
    position: relative;
    z-index: 0;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    >div {
      width: 100%;
    }
  }

  &--fullWidth {
    display: flex;
  }

  // 横向
  &--landscape {
    .#{$name}-title {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      z-index: 1;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      width: var(--#{$name}-landscape-title-width);
    }

    .#{$name}-body {
      margin-left: var(--#{$name}-landscape-title-width);
    }
  }
}

.#{$name}-primary {
  background-color: var(--ivue-primary-color);
  border-color: var(--ivue-primary-color);
}

.#{$name}-fade-enter-active,
.#{$name}-fade-leave-active {
  transition: opacity $ivue-transition-default;
}

.#{$name}-fade-enter-from,
.#{$name}-fade-leave-to {
  position: absolute;
  opacity: 0;
}
