@import "../base.scss";

$name: 'ivue-input-number';

.#{$name} {
  position: relative;
  display: inline-block;
  font-size: 14px;
  color: $text-color;
  background-color: $white-color;
  transition: border .2s ease-in-out, background .2s ease-in-out, box-shadow .2s ease-in-out;
  width: 80px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  border: 1px solid $border-color;
  border-radius: 4px;
  overflow: hidden;

  &:hover {
    border-color: $primary-color;

    .#{$name}-internal--wrapper {
      opacity: 1;
    }
  }

  &:focus {
    outline: 0;
    border-color: $primary-color;
    box-shadow: 0 0 0 2px transparentize($primary-color, 0.8);
  }

  // 获取焦点
  &-focused {
    border-color: $primary-color;
    box-shadow: 0 0 0 2px transparentize($primary-color, 0.8);
  }

  // 输入框
  &-input {
    width: 100%;
    height: 100%;
    padding: 0 7px;
    text-align: left;
    outline: 0;
    border: 0;
    border-radius: 4px;
    color: $text-color;
    transition: all .2s linear;

    &--wrapper {
      display: flex;
      align-items: center;
      overflow: hidden;
      height: 100%;
    }
  }


  // 上下按钮
  &-internal {
    flex: 1;
    min-width: auto;
    width: 100%;
    height: auto;
    padding: 0;
    border-radius: 0;
    cursor: pointer;
    color: $legend-color;

    &:hover {
      color: $primary-color;
    }

    .ivue-icon {
      width: auto;
      min-width: auto;
      height: auto;
      font-size: 14px;
      transition: color .2s ease-in-out;
    }

    // 外层
    &--wrapper {
      position: absolute;
      top: 0;
      right: 0;
      width: 22px;
      height: 100%;
      display: flex;
      flex-direction: column;
      border-left: 1px solid $border-color;
      background: $white-color;
      opacity: 0;
      transition: opacity .2s ease-in-out;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        margin: auto;
        background: $border-color;
      }
    }
  }

  // 禁用
  .#{$name}-internal--disabled {
    cursor: not-allowed;
    color: $disabled-color !important;
    pointer-events: auto;
  }

  // 禁用
  &-disabled {
    &:hover {
      border-color: $border-color;

      .#{$name}-internal--wrapper {
        display: none;
      }
    }

    .#{$name}-input {
      opacity: .8;
      background-color: $background-color-select-hover;
      cursor: not-allowed;
      color: $disabled-color;
    }
  }

  // 按钮位置是否置于两侧
  &-controls-outside {
    width: 144px;
    padding: 0 32px;
  }

  // 外部按钮
  &-outside {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 32px;
    height: auto;
    background-color: #f8f8f9;
    color: #515a6e;
    cursor: pointer;
    min-width: auto;
    padding: 0;
    border-radius: 0;
    cursor: pointer;
    color: $legend-color;

    &:hover {
      color: $primary-color;
    }

    .ivue-icon {
      width: auto;
      min-width: auto;
      height: auto;
      font-size: 14px;
      transition: color .2s ease-in-out;
    }

    &--up {
      right: 0;
      border-left: 1px solid $border-color;
    }

    &--down {
      left: 0;
      border-right: 1px solid $border-color;
    }
  }
}
