$name: 'ivue-back-top';

@use '../mixins/mixins' as *;
@use '../common/var.scss' as *;

:root {
  --#{$name}-size: 48px;
  --#{$name}-radius: 8px;
}

@include b($name) {
  // 设置组件 css var 变量
  @include set-component-css-var($name, $back-top);

  position: fixed;
  cursor: pointer;
  z-index: 10;

  @include m(content) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: getCssVar($name, 'width');
    height: getCssVar($name, 'width');
    border-radius: getCssVar($name, 'radius');
    background: getCssVar('ivue-color', 'primary');
    color: getCssVar('ivue-color', 'white');
  }
}
