@import "../animation/index.scss";

$name: 'ivue-back-top';

.#{$name} {
  position: fixed;
  cursor: pointer;
  z-index: 10;

  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: $primary-color;
    color: $white-color;
    border-radius: 8px;
  }
}
