$name: 'ivue-spin';



.#{$name} {
  display: inline-block;
  color: $primary-color;
  vertical-align: middle;
  text-align: center;

  // 内容
  &-content {}

  // dot
  &-dot {
    position: relative;
    display: block;
    border-radius: 50%;
    background-color: $primary-color;
    width: 20px;
    height: 20px;
    animation: ivue-spin-dot 1s 0s ease-in-out infinite;

    @keyframes ivue-spin-dot {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0)
      }

      100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
      }
    }
  }

  // 文字
  &-text {
    display: block;
  }

  // 固定
  &-fix {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .9);

    .#{$name}-content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }

  // 全屏显示
  &-fullscreen {
    z-index: 2010;

    &--wrapper {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}


.#{$name}-fade-enter-active,
.#{$name}-fade-leave-active {
  transition: opacity .3s ease-in-out;
}

.#{$name}-fade-enter-from,
.#{$name}-fade-leave-to {
  opacity: 0;
}
