$name:'ivue-table';

.#{$name} {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  height: fit-content;
  width: 100%;
  max-width: 100%;
  background-color: $white-color;
  font-size: 14px;
  color: $text-color;

  thead {
    font-weight: 500;
  }

  // 行
  .cell {
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    line-height: 23px;
    padding: 0 12px;
  }

  // 没有border
  &:not(.ivue-table-border) {
    .#{$name}-cell {
      border-right: none;
    }
  }

  &-hidden {
    visibility: hidden;
    position: absolute;
    z-index: -1;
  }

  // 100%宽度
  &-fullWidth {
    border-right: 0;
    border-bottom: 0;
  }

  // 内容
  &-content {
    position: relative;
    display: flex;
    flex-direction: column;

    // 滚动条
    .ivue-scrollbar-bar {
      z-index: 2;
    }

    &::before {
      content: "";
      position: absolute;
      background-color: $border-color;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      z-index: 3;
    }

    &::after {
      left: 0;
      top: 0;
      width: 100%;
      height: 1px;
      z-index: 3;
    }

    tr:first-child th:first-child {
      border-left: none;
    }
  }

  // 行
  &-cell {
    padding: 8px 0;
    min-width: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
    text-align: left;
    z-index: 1;
  }

  // 行居中
  &-cell.is-center {
    text-align: center;
  }

  // 行右对齐
  &-cell.is-right {
    text-align: right;
  }

  th.#{$name}-cell {
    user-select: none;

    &>.cell {
      display: inline-block;
      box-sizing: border-box;
      position: relative;
      width: 100%;
      vertical-align: middle;

    }
  }

  th.#{$name}-cell.is-leaf {
    border-bottom: 1px solid $border-color;
  }

  td.#{$name}-cell {
    border-bottom: 1px solid $border-color;
  }

  // 头部
  &-header {
    table-layout: fixed;
    border-collapse: separate;

    &--wrapper {
      overflow: hidden;
      width: 100%;
      flex-shrink: 0;
    }
  }

  // 边框
  &-border {
    .#{$name}-content {
      &::after {
        content: "";
        position: absolute;
        background-color: $border-color;
      }
    }

    .#{$name}-cell {
      border-right: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
    }

    &::before {
      content: "";
      position: absolute;
      top: -1px;
      left: 0;
      width: 1px;
      height: 100%;
      background-color: $border-color;
      z-index: 3;
    }

    &::after {
      content: "";
      position: absolute;
      top: -1px;
      right: 0;
      width: 1px;
      height: 100%;
      background-color: $border-color;
      z-index: 3;
    }
  }

  // 列
  &-column {

    // 拖拽时的虚线
    &-resize-proxy {
      position: absolute;
      left: 200px;
      top: 0;
      bottom: 0;
      width: 0;
      border-left: 1px solid $border-color;
      z-index: 10;
    }

  }

  // body
  &-body-wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
  }

  &-body {
    border-collapse: separate;

    .highlight-current-row>.ivue-table-cell {
      background-color: rgba(91, 142, 255, .3);
      ;
    }
  }

  // 提示
  &-placeholder {
    position: sticky;
    left: 0;
    right: 0;
    min-height: 60px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &--text {
      line-height: 60px;
      width: 50%;
      color: #9AB0C6;
    }
  }

  // 行
  &-row {}

  // 斑马纹
  &-stripe {
    .#{$name}-body {
      tr.#{$name}-row--stripe td.#{$name}-cell {
        background: #fafafa;
      }
    }
  }

  // 行hover
  &-nofixed-row-hover {
    .#{$name}-body tr:hover>td.#{$name}-cell {
      background-color: #eee;
    }
  }

  &-nofixed-row-transition {
    .#{$name}-body td.#{$name}-cell {
      transition: background-color .25s ease;
    }
  }

  // 固定列右边, 固定列左边
  &-fixed-column--right,
  &-fixed-column--left {
    position: sticky !important;
    z-index: 2;
    background-color: $white-color;

  }

  // 固定列右边
  &-fixed-column--right.is-first-column::before {
    left: -10px;
  }

  // 固定列左边
  &-fixed-column--left.is-last-column::before {
    right: -10px;
  }

  // 多行表头
  &-group {
    .is-group {
      th.ivue-table-cell {
        background: #f5f7fa;
      }
    }
  }


  .cell.#{$name}-tooltip {
    white-space: nowrap;
    min-width: 50px;
  }
}

// 固定列右边
.#{$name}.is-scrolling-left,
.#{$name}.is-scrolling-middle {
  .#{$name}-fixed-column--right.ivue-table-cell {
    border-left: none;
  }

  .#{$name}-fixed-column--right.is-first-column {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 10px;
      bottom: -1px;
      overflow-x: hidden;
      overflow-y: hidden;
      box-shadow: none;
      touch-action: none;
      pointer-events: none;
      box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, 0.15);
    }
  }
}

// 固定列左边
.#{$name}.is-scrolling-right,
.#{$name}.is-scrolling-middle {
  .#{$name}-fixed-column--left.ivue-table-cell {
    border-right: none;
  }

  .#{$name}-fixed-column--left.is-last-column {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 10px;
      bottom: -1px;
      overflow-x: hidden;
      overflow-y: hidden;
      box-shadow: none;
      touch-action: none;
      pointer-events: none;
      box-shadow: inset 10px 0 10px -10px rgba(0, 0, 0, 0.15);
    }
  }
}
