$name: 'ivue-cascader';
$input: 'ivue-input';

.#{$name} {
  // position: relative;
  line-height: normal;
  // font-size: $font-small-size;
  // width: 100%;

  &-rel {
    display: inline-block;
    width: 100%;
    position: relative;
  }

  &-label {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 32px;
    padding: 0 7px;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    font-size: 14px;
  }

  // 下拉图标
  &-arrow {
    font-size: 18px !important;
    height: 100%;
    transition: all .2s ease-in-out;
  }

  // 输入框
  .#{$input} {
    cursor: pointer;
    border: none;
  }

  /* 显示菜单 */
  &-visible {
    .#{$name}-arrow {
      transform: rotate(180deg);
      transform-origin: center center;
    }
  }


  .ivue-select-dropdown {
    width: auto;
    padding: 0;
    white-space: nowrap;
    overflow: visible;
  }

  // 菜单
  &-menu {
    display: inline-block;
    min-width: 100px;
    height: 180px;
    margin: 0;
    padding: 5px 0 !important;
    vertical-align: top;
    list-style: none;
    border-right: 1px solid #e8eaec;
    overflow: auto;

    &:last-child {
      border-right-color: transparent;
      margin-right: -1px;
    }


    // 选项
    &--item {
      position: relative;
      margin: 0;
      line-height: normal;
      padding: 7px 16px;
      clear: both;
      color: #515a6e;
      font-size: 14px !important;
      white-space: nowrap;
      list-style: none;
      cursor: pointer;
      padding-right: 36px;
      transition: all .2s ease-in-out;

      &:hover {
        background: $primary-color;
        color: $white-color;

        .ivue-loading-spinner{
          color: $white-color;
        }
      }

      .ivue-icon {
        position: absolute;
        top: 0;
        right: 10px;
        height: 100%;
        font-size: 18px;
        width: auto;
        min-width: auto;
        transition: none;
      }

      // 激活
      &-active {
        background: $primary-color;
        color: $white-color;
      }

      // 禁用
      &-disabled {
        color: $input-disabled-color;
        cursor: $cursor-disabled;

        &:hover {
          color: $input-disabled-color;
          background-color: $white-color;
          cursor: $cursor-disabled;
        }
      }

      // loading
      &-loading {
        position: absolute !important;
        width: 15px;
        height: 15px;
        right: 11px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        overflow: hidden;

        .ivue-loading-mask{
          background: none;
        }
      }

    }
  }

}
