$name: 'ivue-carousel';


:root {
  --#{$name}-arrow-bg: rgba(31, 45, 61, .11);
  --#{$name}-dots-outside-color: #8391a5;
}

$dot-padding: 7px;

.#{$name} {
  position: relative;
  overflow: hidden;

  // 没有初始化
  &-no-init {
    .#{$name}-item--card {
      transition: none;
    }
  }

  // 内容
  &-content {
    position: relative;
    height: 200px;
    overflow: hidden;
  }

  // item
  &-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    z-index: 0;

    // 动画
    &--animating {
      transition: transform .4s ease-in-out;
    }

    // 是否可以点击下一个
    &--in-stage {
      z-index: 1;
      cursor: pointer;
    }

    // 卡片类型
    &--card {
      width: 50%;
      transition: transform .4s ease-in-out;

      &__vertical {
        width: 100%;
        height: 50%;
      }
    }

    // 激活
    &--active {
      z-index: 10;
    }

    // mask
    &--mask {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: var(--ivue-white-color);
      transition: .2s;
      opacity: .24;

      &:hover {
        opacity: .12;
      }
    }

    // hover
    &--hover &--mask {
      opacity: .12;
    }
  }

  // 箭头
  .#{$name}-arrow {
    position: absolute;
    top: 50%;
    text-align: center;
    font-size: 12px;
    font-family: inherit;
    line-height: inherit;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    width: 36px;
    min-width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    transition: all .2s;
    color: var(--ivue-white-color);
    background-color: var(--#{$name}-arrow-bg);
    z-index: 15;

    i {
      font-size: 24px;
    }

    &.left {
      left: 16px;
    }

    &.right {
      right: 16px;
    }

  }

  // 指示器
  &-dots {
    position: relative;
    display: none;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 3px + $dot-padding * 2;
    z-index: 15;
    pointer-events: none;

    // 内部
    &--inside {
      display: block;
      position: absolute;
      bottom: 10px - $dot-padding;
    }

    // 外部
    &--outside {
      position: static;
      display: block;
      margin-top: 10px - $dot-padding;

      .#{$name}-dots--button {
        background: var(--#{$name}-dots-outside-color);
      }
    }

    // 指示器符号
    &--dot {
      position: relative;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      margin: 0 4px;
      padding: $dot-padding 0;
      cursor: pointer;
      pointer-events: auto;

      &:hover>.#{$name}-dots--button {
        opacity: 0.7;
      }
    }

    // 激活
    &--active {
      .#{$name}-dots--button {
        opacity: 1;
      }
    }

    // 竖向
    &--vertical {
      width: auto;
      height: auto;
      top: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .#{$name}-dots--dot {
        display: list-item;
        padding: 4px 12px;
        margin: 0;
      }

      .#{$name}-dots--button {
        width: 2px;
        height: 15px;
      }
    }

    // 左边
    &--left {
      left: 0;
    }

    // 右边
    &--right {
      right: 0;
    }

    // 按钮
    &--button {
      border: 0;
      width: 24px;
      height: 3px;
      opacity: .5;
      border-radius: 3px;
      outline: none;
      font-size: 0;
      display: block;
      cursor: pointer;
      color: transparent;
      background: var(--ivue-white-color);
      transition: all .4s ease-in-out;
    }

    // 圆形
    &--radius {
      padding: 0;
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }

    // 有指示器的文本
    &--labels {
      bottom: 0;
      left: 0;
      right: 0;
      margin-bottom: 6px;
      transform: none;
      text-align: center;

      .#{$name}-dots--dot {
        padding: 0;
      }

      .#{$name}-dots--button {
        height: auto;
        width: auto;
        padding: 2px 18px;
        font-size: 12px;
      }
    }

    // 指示器的文本样式
    &--label {
      color: var(--ivue-text-color);
    }
  }
}
