@import "ivue-select";

$name: 'ivue-cascader';
$input: 'ivue-input';

.#{$name} {
  line-height: normal;
  position: relative;

  // 输入框外层
  &-input {
    display: inline-block;
    width: 100%;
    position: relative;
    cursor: pointer;

    // 下拉框第一个图标默认显示
    &:hover {
      .#{$name}-clearable {
        display: inline-block;
      }
    }
  }

  &-dropdown {
    padding: 5px 0;

    &--transfer {
      width: auto;
      padding: 0;
      white-space: nowrap;
      overflow: visible;

      .#{$name}-menu--item {
        padding-right: 24px;
        transition: all .2s ease-in-out;
      }
    }


    &--list {
      max-height: 190px;
      box-sizing: border-box;
      overflow: auto;
      min-width: 100%;
      list-style: none;
    }

    &--item {
      display: list-item;
      position: relative;
      margin: 0;
      padding: 7px 16px;
      clear: both;
      line-height: normal;
      font-size: 14px;
      list-style: none;
      cursor: pointer;
      word-break: break-all;
      align-items: center;
      color: #4A505E;
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        background: $background-color-select-hover;
      }

      &__disabled {
        color: $input-disabled-color !important;
        cursor: $cursor-disabled;
      }

      span {
        color: #FF617F;
      }
    }

    &-not-found {
      width: 200px;
    }
  }

  // label
  &-label {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 32px;
    padding: 0 7px;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    font-size: 14px;
  }


  // 显示清除图片
  &-show-clear {
    &:hover {
      .#{$name}-arrow:nth-of-type(2) {
        display: none;
      }
    }
  }

  // 下拉图标
  &-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 18px !important;
    height: 100%;
    transition: all .2s ease-in-out;
  }

  &-clearable {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 18px !important;
    height: 100%;
    display: none;
  }

  // 输入框
  .#{$input} {
    cursor: pointer;
    border: none;
  }

  /* 显示菜单 */
  &-visible {
    .#{$name}-arrow {
      transform: rotate(180deg);
      transform-origin: center center;
    }
  }

  .ivue-select-dropdown {
    width: auto;
    padding: 0;
    white-space: nowrap;
    overflow: visible;
  }

  // 菜单
  &-menu {
    display: inline-block;
    min-width: 100px;
    height: 180px;
    margin: 0;
    padding: 5px 0 !important;
    vertical-align: top;
    list-style: none;
    border-right: 1px solid #e8eaec;
    overflow: auto;

    &:last-child {
      border-right-color: transparent;
      margin-right: -1px;
    }


    // 选项
    &--item {
      position: relative;
      margin: 0;
      line-height: normal;
      padding: 7px 16px;
      padding-right: 16px;
      clear: both;
      color: #515a6e;
      font-size: 14px !important;
      white-space: nowrap;
      list-style: none;
      cursor: pointer;
      transition: all .2s ease-in-out;

      &:hover {
        background: $background-color-select-hover;

        // .ivue-loading-spinner {
        //   color: $white-color;
        // }
      }

      .ivue-icon {
        position: absolute;
        top: 0;
        right: 10px;
        height: 100%;
        font-size: 18px;
        width: auto;
        min-width: auto;
        transition: none;
      }

      // 激活
      &-active {
        color: $primary-color;
        background: $background-color-select-hover;
      }

      // 禁用
      &-disabled {
        color: $input-disabled-color;
        cursor: $cursor-disabled;

        &:hover {
          color: $input-disabled-color;
          background-color: $white-color;
          cursor: $cursor-disabled;
        }
      }

      // loading
      &-loading {
        position: absolute !important;
        width: 18px;
        height: 18px;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        overflow: hidden;

        .ivue-loading-mask {
          background: none;
        }
      }

    }
  }

  // 搜索空提示
  &-not-found {
    .ivue-select-dropdown {
      right: 0;
    }
  }

  &-not-found-tip {
    padding: 10px 0;
    text-align: center;
    color: $disabled-color;

    &-text {
      font-size: 14px;
    }
  }

}
