@import 'ivue-picker';
@import 'ivue-date-picker-title';
@import 'ivue-date-picker-header';
@import 'ivue-date-picker-date';
@import 'ivue-date-picker-month';
@import 'ivue-date-picker-years';

.tab-transition {
  &-enter-from {
    transform: translate(100%, 0);
  }

  &-leave,
  &-leave-active {
    position: absolute;
    top: 0;
  }

  &-leave-to {
    position: absolute;
    transform: translate(-100%, 0);
  }
}

.tab-reverse-transition {
  &-enter-from {
    position: absolute;
    top: 0;
    transform: translate(-100%, 0);
  }

  &-leave,
  &-leave-to {
    top: 0;
    position: absolute;
    transform: translate(100%, 0);
  }
}

.fade-transition-enter-active,
.fade--transition-leave-active {
  transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}

.fade-transition-enter-from,
.fade-transition-leave-to {
  opacity: 0;
}
