$name: 'ivue-carousel-loop';

:root {
  // size
  --#{$name}-height: 100px;

  // arrow
  --#{$name}-icon-font-size: 24px;
  --#{$name}-icon-size: 36px;
  --#{$name}-icon-left: 16px;
  --#{$name}-icon-right: 16px;
  --#{$name}-icon-outside-left: -52px;
  --#{$name}-icon-outside-right: -52px;

  // color
  --#{$name}-arrow-bg: rgba(31, 45, 61, .11);
}

.#{$name} {
  position: relative;
  width: 100%;
  height: var(--#{$name}-height);

  &:hover .#{$name}-arrow--hover {
    opacity: 1;
  }

  &-scroll {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  // 内容
  &-content {
    position: relative;
    z-index: 1;
    display: flex;

    .copy-track {
      position: absolute;
    }
  }

  &-list {
    position: relative;
    display: flex;
    will-change: transform;
  }

  // 箭头
  .#{$name}-arrow {
    position: absolute;
    top: 50%;
    text-align: center;
    font-family: inherit;
    line-height: inherit;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    width: var(--#{$name}-icon-size);
    min-width: var(--#{$name}-icon-size);
    height:var(--#{$name}-icon-size);
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    transition: var(--ivue-all-transition);
    color: var(--ivue-white-color);
    background-color: var(--#{$name}-arrow-bg);
    z-index: 15;

    i {
      font-size: var(--#{$name}-icon-font-size);
    }

    &.left {
      left: var(--#{$name}-icon-left);
    }

    &.right {
      right: var(--#{$name}-icon-right);
    }

    // 悬停
    &--hover {
      opacity: 0;
    }

    // 不显示
    &--never {
      display: none;
    }

    // 外部
    &--outside {
      &.left {
        left: var(--#{$name}-icon-outside-left);
      }

      &.right {
        right: var(--#{$name}-icon-outside-right);
      }
    }
  }
}
