@mixin ivue-icon-size($size: 24) {
  width: $size;
  min-width: $size;
  height: $size;
  font-size: $size;
}

@mixin ivue-icon {
  margin: auto;
  display: inline-flex;
  user-select: none;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  transition: color .2s $ivue-transition-default-timing;
  direction: ltr;
  font-family: "Material Icons";
  font-feature-settings: "liga";
  font-style: normal;
  letter-spacing: normal;
  line-height: 1;
  text-rendering: optimizeLegibility;
  text-transform: none;
  word-wrap: normal;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
