$name: 'ivue-progress';

:root {
  // show-info
  --#{$name}-show-info-outer-padding-right: 55px;
  --#{$name}-show-info-outer-margin-right: -55px;

  // inner
  --#{$name}-inner-radius: 100px;

  // text
  --#{$name}-font-size: 12px;
  --#{$name}-text-margin: 0 6px;
  --#{$name}-text-margin-left: 5px;

  // active
  --#{$name}-active-radius: 10px;

  // vertical
  --#{$name}-vertical-height: 100px;

  // color
  --#{$name}-inner-color: #F8F9FD;
}

.#{$name} {
  display: flex;
  align-items: center;
  position: relative;
  font-size: var(--ivue-font-small-size);
  width: 100%;
  color: var(--ivue-primary-color);
  background: none !important;

  // 进度条
  &-outer {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  &-show-info &-outer {
    padding-right: var(--#{$name}-show-info-outer-padding-right);
    margin-right: var(--#{$name}-show-info-outer-margin-right);
  }

  // 内容
  &-inner {
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: var(--#{$name}-inner-color);
    border-radius: var(--#{$name}-inner-radius);
    vertical-align: middle;
    overflow: hidden;

    // 文字
    &-text {
      display: inline-block;
      vertical-align: middle;
      color: var(--ivue-white-color);
      font-size: var(--#{$name}-font-size);
      margin: var(--#{$name}-text-margin);
    }
  }

  // 背景颜色
  &-bg {
    text-align: right;
    position: relative;
    border-radius: var(--#{$name}-inner-radius);
    background-color: currentColor;
    transition: all .6s $ivue-transition-default-timing;
    animation-duration: 3s;
  }

  &-success-bg {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--#{$name}-inner-radius);
    background-color: var(--ivue-success-color);
    transition: all .6s $ivue-transition-default-timing;
    animation-duration: 3s;
  }

  &-text {
    display: flex;
    margin-left: var(--#{$name}-text-margin-left);
    text-align: left;
    color: var(--ivue-text-color);

    .ivue-icon {
      min-width: auto;
      width: auto;
      font-size: var(--#{$name}-font-size);
      height: auto;
    }
  }

  &-text-inner {
    vertical-align: middle;

    &>i {
      vertical-align: initial;
      width: auto;
      height: auto;
      min-width: auto;
      font-size: var(--ivue-font-small-size);
    }
  }

  &-success {
    .#{$name}-bg {
      background-color: var(--ivue-success-color);
    }

    .#{$name}-text {
      color: var(--ivue-success-color);
    }
  }

  &-wrong {
    .#{$name}-bg {
      background-color: var(--ivue-error-color);
    }

    .#{$name}-text {
      color: var(--ivue-error-color);
    }
  }

  &-warning {
    .#{$name}-bg {
      background-color: var(--ivue-warning-color);
    }

    .#{$name}-text {
      color: var(--ivue-warning-color);
    }
  }

  &-active {
    .#{$name}-bg:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: var(--ivue-white-color);
      border-radius: var(--#{$name}-active-radius);
      opacity: 0;
      animation: ivue-progress-active 2s ease infinite;
    }
  }

  // 垂直
  &-vertical {
    height: var(--#{$name}-vertical-height);
    width: auto;
    flex-direction: column;
    justify-content: center;

    .#{$name}-outer {
      height: 100%;
      width: auto;
      padding: 0;
      margin: 0;
    }

    .#{$name}-bg {
      display: inline-block;
      vertical-align: bottom;

      &:before {
        top: auto;
        animation: ivue-progress-active-vertical 2s ease infinite;
      }
    }

    .#{$name}-inner {
      height: 100%;
      width: auto;

      &:after {
        content: "";
        height: 100%;
        display: inline-block;
        vertical-align: bottom;

      }
    }

    .#{$name}-text {
      margin-left: 0;
    }
  }

  // 是否为动画进度条
  &-indeterminate {
    animation: indeterminate 3s infinite;

  }
}

.progress-fade-enter-active,
.progress-fade-leave-active {
  transition: opacity .3s;
}

.progress-fade-enter-from,
.progress-fade-leave-to {
  opacity: 0;
}

@keyframes ivue-progress-active {
  0% {
    opacity: .3;
    width: 0;
  }

  100% {
    opacity: 0;
    width: 100%;
  }
}

@keyframes ivue-progress-active-vertical {
  0% {
    opacity: .3;
    height: 0;
  }

  100% {
    opacity: 0;
    height: 100%;
  }
}

@keyframes indeterminate {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}
