@import '../animation/variables.scss';
@import '../mixins.scss';

$name: 'ivue-input';

:root {
  --#{$name}-padding: 4px 7px;
  --#{$name}-height: 32px;

  // small
  --#{$name}-small-padding: 1px 7px;
  --#{$name}-small-height: 24px;
  --#{$name}-small-radius: 24px;
  --#{$name}-small-search-padding: 0 12px;
  --#{$name}-small-group-height: 24px;
  --#{$name}-small-group-radius: 3px;

  // large
  --#{$name}-large-padding: 6px 7px;
  --#{$name}-large-height: 40px;
  --#{$name}-large-search-padding: 0 20px;

  // group
  --#{$name}-group-padding: 4px 7px;
  --#{$name}-group-radius: 4px;
  --#{$name}-group-font-size: 14px;

  // prefix
  --#{$name}-prefix-padding: 32px;
  // suffix
  --#{$name}-suffix-padding: 32px;

  // 图标
  --#{$name}-icon-width: 32px;

  // 小图标
  --#{$name}-small-icon-size: 24px;

  // 大图标
  --#{$name}-large-icon-size: 40px;

  // textarea
  --#{$name}-textarea-min-height: 32px;

  // 字数统计
  --#{$name}-word-count-right: 7px;
  --#{$name}-word-count-top: 2px;
  --#{$name}-word-count-font-size: 12px;

  // search
  --#{$name}-search-padding: 0 16px;

  // color
  --#{$name}-shadow-color: rgba(91, 142, 255, 0.2);
  --#{$name}-disabled-bg: #F8F9FD;
  --#{$name}-word-count-color: #9AB0C6;
}


.#{$name}-wrapper {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  line-height: normal;
  width: 100%;

  &-clearable .#{$name}-content {
    &:hover {
      .#{$name}-password {
        opacity: 0 !important;
      }
    }
  }


  .#{$name}-group-prepend,
  .#{$name}-group-append {
    padding: var(--#{$name}-group-padding);
    font-size: inherit;
    font-weight: 400;
    line-height: 1;
    color: var(--ivue-text-color);
    text-align: center;
    border: 1px solid var(--ivue-border-color);
    border-radius: var(--#{$name}-group-radius);
    display: table-cell;
    width: 1px;
    white-space: nowrap;
    vertical-align: middle;
  }

  .#{$name}-group-prepend {
    border-right: 0;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }

  .#{$name}-group-append {
    border-left: 0;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }

  .#{$name}-with-prefix {
    padding-left: var(--#{$name}-prefix-padding);
  }

  .#{$name}-with-suffix {
    padding-right: var(--#{$name}-suffix-padding);
  }

  // 图标
  .#{$name}-icon,
  .#{$name}-clear {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    line-height: 1;
    font-size: var(--ivue-font-default-size);
    color: var(--ivue-arrow-color);
    height: auto;
    margin: 0;
    width: var(--#{$name}-icon-width);
    transition: var(--ivue-all-transition);
    cursor: pointer;
    z-index: 10;
    overflow: hidden;

    &-clear {
      opacity: 0;
      z-index: 10;
      height: 100%;
      display: flex;
      width: 100%;
      font-size: var(--ivue-font-default-size);
      transition: var(--ivue-all-transition);
    }
  }

  .#{$name}-clear {
    top: 0;
    right: 1px;
  }

  .is-suffix {
    background-color: var(--ivue-white-color);
    z-index: 2;
  }

  .#{$name}-prefix,
  .#{$name}-suffix {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--#{$name}-suffix-padding);
    height: 100%;
    text-align: center;
    z-index: 1;

    i {
      font-size: var(--ivue-font-default-size);
      line-height: var(--#{$name}-suffix-padding);
      height: 100%;
      color: var(--ivue-arrow-color);
    }
  }

  .#{$name}-suffix {
    right: 0;
    left: auto;
  }

  // 小图标
  &-small {

    .#{$name}-content {
      border-radius: var(--#{$name}-small-group-radius);
    }

    .#{$name}-icon,
    .#{$name}-icon i,
    .#{$name}-prefix i,
    .#{$name}-suffix i {
      font-size: var(--ivue-font-base-size);
      width: var(--#{$name}-small-icon-size);
      height: var(--#{$name}-small-icon-size);
      line-height: var(--#{$name}-small-icon-size);
    }


  }

  // 大图标
  &-large {

    .#{$name}-icon,
    .#{$name}-icon i,
    .#{$name}-prefix i,
    .#{$name}-suffix i {
      font-size: var(--ivue-font-large-size);
      width: var(--#{$name}-large-icon-size);
      height: var(--#{$name}-large-icon-size);
      line-height: var(--#{$name}-large-icon-size);
    }
  }
}

// 输入框
.#{$name} {
  display: inline-block;
  position: relative;
  padding: var(--#{$name}-padding);
  font-size: var(--ivue-font-base-size);
  border-radius: var(--ivue-border-radius);
  border: none;
  color: var(--ivue-title-color);
  cursor: text;
  width: 100%;
  line-height: 1;
  height: var(--#{$name}-height);
  transition: border $ivue-transition-default,
    background $ivue-transition-default,
    box-shadow $ivue-transition-default;

  // input外壳
  &-content {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0 !important;
    border-radius: var(--ivue-border-radius);
    border: 1px solid var(--ivue-border-color);
    transition: border $ivue-transition-default,
      background $ivue-transition-default,
      box-shadow $ivue-transition-default;
    overflow: hidden;

    &:hover {
      border-color: var(--ivue-primary-color);

      .#{$name}-icon-clear {
        opacity: 1;
      }
    }

    &--prepend {
      border-bottom-left-radius: 0 !important;
      border-top-left-radius: 0 !important;
    }

    &--append {
      border-bottom-right-radius: 0 !important;
      border-top-right-radius: 0 !important;
    }

    &-disabled {
      &:hover {
        border-color: var(--ivue-border-color);
      }
    }

  }

  // 密码
  &-password {
    opacity: 1;
    transition: var(--ivue-all-transition);

    i {
      background: var(--ivue-white-color);
    }
  }

  // small
  &-small {
    font-size: var(--ivue-font-base-size);
    padding: var(--#{$name}-small-padding);
    height: var(--#{$name}-small-height);

  }

  // large
  &-large {
    font-size: var(--ivue-font-large-size);
    padding: var(--#{$name}-large-padding);
    height: var(--#{$name}-large-height);
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px var(--#{$name}-shadow-color);
  }

  &:focus,
  &:hover {
    border-color: var(--ivue-primary-color);
  }

  &[disabled] {
    background-color: var(--#{$name}-disabled-bg);
    opacity: 1;
    cursor: var(--ivue-cursor-disabled) !important;
    color: var(--ivue-input-disabled-color);

    &:hover {
      border-color: var(--ivue-border-color);
    }
  }

  @include placeholder;
}


// textarea
.#{$name}-textarea {
  max-width: 100%;
  border: 1px solid var(--ivue-border-color);
  height: auto;
  min-height: var(--#{$name}-textarea-min-height);
  vertical-align: bottom;
}

// textarea
.#{$name}-type-textarea {
  .#{$name}-word-count {
    align-items: flex-end;
    top: auto;
  }
}

// 前置内容大小
.#{$name}-group {
  display: table !important;
  width: 100%;
  border-collapse: separate;
  position: relative;
  font-size: var(--#{$name}-group-font-size);

  &-small {
    font-size: var(--ivue-font-base-size);

    .#{$name}-search {
      padding: var(--#{$name}-small-search-padding) !important;

      i {
        font-size: var(--ivue-font-base-size);
      }
    }

    .#{$name}-group-prepend,
    .#{$name}-group-append {
      padding: var(--#{$name}-small-padding);
      height: var(--#{$name}-small-group-height);
      border-radius: var(--#{$name}-small-group-radius);
    }
  }

  &-large {
    font-size: var(--ivue-font-large-size);

    .#{$name}-search {
      padding: var(--#{$name}-large-search-padding) !important;

      i {
        font-size: var(--ivue-font-large-size);
      }
    }

    .#{$name}-group-prepend,
    .#{$name}-group-append {
      font-size: var(--ivue-font-large-size);
      padding: var(--#{$name}-large-padding);
      height: var(--#{$name}-large-height);
    }
  }
}

// 后置内容
.#{$name}-group-with-append .#{$name} {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

// 前置内容
.#{$name}-group-with-prepend .#{$name} {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


// 字数统计
.#{$name}-word-count {
  text-align: center;
  position: absolute;
  right: var(--#{$name}-word-count-right);
  top: var(--#{$name}-word-count-top);
  bottom: var(--#{$name}-word-count-top);
  padding-left: var(--#{$name}-word-count-right);
  background: var(--ivue-white-color);
  z-index: 1;
  display: inline-flex;
  align-items: center;
  color: var(--#{$name}-word-count-color);
  font-size: var(--#{$name}-word-count-font-size);
}


// 搜索输入框
.#{$name}-search {
  cursor: pointer;
  padding: var(--#{$name}-search-padding) !important;
  background: var(--ivue-primary-color);
  color: var(--ivue-white-color) !important;
  border-color: var(--ivue-primary-color) !important;
  transition: var(--ivue-all-transition);
  position: relative;
  z-index: 2;

  i {
    font-size: var(--ivue-font-default-size);
    min-width: auto;
    width: auto;
    display: inline;
  }

  &:hover {
    background: var(--ivue-primary-color) !important;
    border-color: var(--ivue-primary-color) !important;
  }

  .#{$name}-wrapper:hover {
    border-color: var(--ivue-primary-color);
  }
}

// 隐藏边框
.#{$name}-no-border {
  border-color: transparent;
  border-radius: 0;

  &:focus,
  &:hover {
    border-color: transparent;
    box-shadow: none;
  }
}
