@import "../custom.scss";
@import "../animation/variables";

$name: 'ivue-breadcrumbs';

.#{$name} {
  align-items: center;
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 18px 12px;
  font-size: 14px;

  .ivue-icon {
    height: auto;
    width: auto;
    min-width: auto;
    transition: none;
  }

  // 链接
  .is-link {
    font-weight: 700;
    transition: color .2s cubic-bezier(.645, .045, .355, 1);
    color: $title-color;
  }

  >span {
    display: inline-flex;
  }


  &--divider {
    padding: 0 12px;
    display: flex;
    align-items: center;
    color: $divider-color;
    font-weight: bold;

    .ivue-icon {
      font-size: 16px;
    }
  }

  &-item {
    &__inner {
      font-weight: bold;
      align-items: center;
      justify-content: center;
      display: inline-flex;
      text-decoration: none;
      color: $text-color;
      transition: color $ivue-transition-default;

      &:hover {
        color: $primary-color;
      }

      .ivue-icon {
        margin-right: 4px;
        font-size: 12px;
      }
    }


    &:last-child {
      .#{$name}-item__inner {
        color: rgba(0, 0, 0, .38);
      }

      .#{$name}--divider {
        display: none;
      }

    }
  }
}
