// @import "ivue-loading.scss";
// @import "ivue-input.scss";
// @import "ivue-select.scss";

$name: 'ivue-auto-complete';

.#{$name} {
  &--notdata {
    padding: 0;
    margin: 0;
  }

  .ivue-loading-spinner .circular {
    width: 100%;
    height: 100%;
  }
}
