$name: 'ivue-message';

:root {
  --#{$name}-notice-content-color: rgba(0, 0, 0, .2);
}

.#{$name} {
  position: fixed;
  top: 16px;
  left: 50%;
  font-size: var(--ivue-font-base-size);
  z-index: 1010;
  transform: translateX(-50%);
  pointer-events: none;
  transition: opacity .3s, transform .4s, top .4s;

  &-notice {
    text-align: center;

    &:first-child {
      margin-top: -8px;
    }

    // 关闭按钮
    &-close {
      position: absolute;
      right: 4px;
      top: 0;
      bottom: 0;
      color: var(--ivue-legend-color);
      display: flex;
      align-items: center;
      cursor: pointer;

      i {
        font-size: 16px;
        transition: color .2s ease;
        width: auto;
        min-width: auto;
        height: auto;

        &:hover {
          color: #444;
        }
      }
    }
  }

  &-notice-have-background {
    &-success {
      .#{$name}-notice-content {
        color: var(--ivue-white-color);
        background: var(--ivue-success-color);
        border: 1px solid var(--ivue-success-color);
      }

      .ivue-icon {
        color: var(--ivue-white-color);
      }
    }

    &-info {
      .#{$name}-notice-content {
        background: var(--ivue-primary-color);
        color: var(--ivue-white-color);
        border: 1px solid var(--ivue-primary-color);
      }

      .ivue-icon {
        color: var(--ivue-white-color);
      }
    }

    &-warning {
      .#{$name}-notice-content {
        background: var(--ivue-warning-color);
        color: var(--ivue-white-color);
        border: 1px solid var(--ivue-warning-color);
      }

      .ivue-icon {
        color: var(--ivue-white-color);
      }
    }

    &-error {
      .#{$name}-notice-content {
        background: var(--ivue-error-color);
        color: var(--ivue-white-color);
        border: 1px solid var(--ivue-error-color);
      }

      .ivue-icon {
        color: var(--ivue-white-color);
      }
    }

    .#{$name}-notice-content {
      box-shadow: none;
    }
  }

  // 内容
  &-notice-content {
    display: flex;
    align-items: center;
    position: relative;
    padding: 8px 16px;
    pointer-events: all;
    box-shadow: 0 1px 6px var(--#{$name}-notice-content-color);
    background-color: var(--ivue-white-color);
    border-radius: var(--ivue-border-radius-small);

    &-text {
      margin-left: 5px;
      display: inline-block;
    }
  }

  &-notice-closable &-notice-content-text {
    margin-right: 32px;
  }

  &-content {
    span {
      vertical-align: middle;
    }
  }

  &-icon {
    margin-right: 4px;
    font-size: 18px;
    vertical-align: middle;
    width: auto;
    min-width: auto;
    height: auto;

    &-success {
      color: var(--ivue-success-color);
    }

    &-info {
      color: var(--ivue-primary-color);
    }

    &-warning {
      color: var(--ivue-warning-color);
    }

    &-error {
      color: var(--ivue-error-color);
    }
  }

  &-loading {
    margin-right: 4px;
    width: 16px;
    vertical-align: middle;
    color: var(--ivue-primary-color);
  }

  .ivue-progress-circular-overlay {
    stroke: currentColor;
    z-index: 2;
    transition: all .6s ease-in-out;
  }

  .ivue-progress-circular-indeterminate {
    display: inline-block;
  }

  .ivue-load-loop {
    animation: ivue-load-loop 1s linear infinite;
  }

  @keyframes ivue-load-loop {
    from {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(180deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

}

.#{$name}-message-fade-enter-from,
.#{$name}-message-fade-leave-to {
  opacity: 0;
  transform: translate(-50%, -100%);
}
