@import "../base.scss";

$name: 'ivue-menu';

.#{$name} {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  color: $text-color;
  font-size: 14px;
  z-index: 10;

  // 白色
  &-light {
    background: $white-color;
  }

  // 黑色
  &-dark {
    background: $dark;
  }

  // primary
  &-primary {
    background: $primary-color;
  }

  &-dark.#{$name}-horizontal,
  &-primary.#{$name}-horizontal,
  &-dark.#{$name}-vertical {

    // 菜单
    .#{$name}-item {
      color: rgba(255, 255, 255, .7);
      border: none;

      &:hover {
        color: $white-color;
        border: none;
      }
    }

    // 子菜单
    .#{$name}-submenu {
      color: rgba(255, 255, 255, .7);
      border: none;

      &:hover {
        color: $white-color;
        border: none;
      }

      &--active {
        color: $white-color;
      }

      .#{$name}-item {
        color: $text-color;

        &--selected {
          color: $primary-color;
        }

        &:hover {
          background: $background-color-select-hover;
        }
      }
    }

    .#{$name}-item--active {
      color: $white-color;
    }
  }

  &-primary.#{$name}-horizontal {

    .#{$name}-item,
    .#{$name}-submenu {
      color: $white-color;
    }

  }

  // 水平
  &-horizontal {
    height: 60px;
    line-height: 60px;

    .#{$name}-item,
    .#{$name}-submenu {
      position: relative;
      float: left;
      padding: 0 20px;
      height: inherit;
      line-height: inherit;
      color: $text-color;
      cursor: pointer;
      z-index: 3;
      transition: all .2s ease-in-out;
      border-bottom: 2px solid transparent;

      &:hover {
        color: $primary-color;
        border-bottom: 2px solid $primary-color;
      }
    }

    .#{$name}-submenu {
      .#{$name}-dropdown {
        min-width: 100%;
        width: auto;
        max-height: none;
      }

      // 子选项
      .#{$name}-item {
        display: flex;
        padding: 8px 16px;
        font-size: 14px;
        height: auto;
        line-height: normal;
        border-bottom: 0;
        margin: 0;
        line-height: normal;
        clear: both;
        color: $text-color;
        white-space: nowrap;
        list-style: none;
        cursor: pointer;
        transition: background .2s ease-in-out;
        width: 100%;

        &--active {
          color: $primary-color;
        }

        &:hover {
          background: $background-color-select-hover;
        }
      }

      // 标题
      &--title {
        display: flex;
        align-items: center;
      }

      // icon
      &--icon {
        transition: inherit;
        transition: transform .2s ease-in-out,
      }

      // 激活
      &--active {
        color: $primary-color;
        border-bottom: 2px solid $primary-color;
      }

      // 打开下拉框
      &--opened__icon {
        transform: rotate(180deg);
      }
    }

    .#{$name}-item--active {
      color: $primary-color;
      border-bottom: 2px solid $primary-color;
    }
  }

  &-horizontal.#{$name}-light {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background: $border-color;
    }
  }

  // 垂直
  &-vertical {
    .#{$name}-item {
      position: relative;
      padding: 14px 24px;
      z-index: 1;
      transition: all .2s ease-in-out;
      cursor: pointer;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        display: block;
        z-index: 10;
        width: 2px;
        opacity: 0;
        background: $primary-color;
        transition: all .2s ease-in-out;
      }

      &:hover {
        color: $primary-color;
      }

      &--active:not(.ivue-menu-submenu) {
        color: $primary-color;
        background: #f0faff;
        z-index: 2;

        &::after {
          opacity: 1;
        }
      }

      &--group__title{
        padding-left: 24px;
      }
    }

    .#{$name}-submenu {
      &--title {
        padding: 14px 24px;
        position: relative;
        cursor: pointer;
        z-index: 1;
        transition: all .2s ease-in-out;

        &:hover {
          color: $primary-color;
        }
      }

      &--icon {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 24px;
        transition: initial;
        transition: transform .2s ease-in-out;
      }

      &--opened__icon {
        transform: rotate(180deg);
      }
    }
  }

  &-vertical.#{$name}-light {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      display: block;
      width: 1px;
      height: 100%;
      background: $border-color;
    }
  }

  &-dark.#{$name}-vertical {
    .#{$name}-item {
      &::after {
        display: none;
      }
    }


    .#{$name}-item--active {
      color: $white-color !important;
      background: $primary-color !important;
    }

    // group 标题
    .#{$name}-item--group__title {
      color: rgba(255, 255, 255, .36);
    }

    // 子菜单
    .#{$name}-submenu {

      // title
      &--title {
        background: $dark;

        &:hover {
          color: $white-color;
        }
      }

      // 展开
      &--opened {
        background: #363e4f;
      }

      .#{$name}-item {
        color: rgba(255, 255, 255, .7);

        &:hover {
          color: $white-color;
          background: #363e4f;
        }
      }
    }
  }


  // item
  &-item {
    position: relative;
    display: block;
    outline: 0;
    list-style: none;
    font-size: 14px;
    z-index: 1;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &--group {
      line-height: normal;

      &__title {
        height: 30px;
        line-height: 30px;
        padding-left: 8px;
        font-size: 12px;
        color: $legend-color;
      }
    }
  }


  // 下拉框
  &-dropdown {
    position: absolute;
    width: inherit;
    max-height: 200px;
    overflow: auto;
    padding: 5px 0;
    background-color: $white-color;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgb(0 0 0 / 20%);
    z-index: 900;

    &--list {
      display: flex;
      flex-direction: column;
    }
  }
}
