$name:'ivue-table';

.#{$name} {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  height: fit-content;
  width: 100%;
  max-width: 100%;
  background-color: $white-color;
  font-size: 14px;
  color: $text-color;
  background: red;

  &-fullWidth {
    border-right: 0;
    border-bottom: 0;
  }
}
