@use '../mixins/mixins' as *;
@use '../common/var.scss' as *;
@use '../common/transition.scss' as *;

$name: 'ivue-badge';

:root {
  // 小红点

  // color
  --#{$name}-blue: #1890ff;
  --#{$name}-green: #52c41a;
  --#{$name}-red: #f5222d;
  --#{$name}-yellow: #fadb14;
  --#{$name}-pink: #eb2f96;
  --#{$name}-orange: #fa8c16;
  --#{$name}-gold: #faad14;
  --#{$name}-lime: #a0d911;
  --#{$name}-cyan: #13c2c2;
  --#{$name}-purple: #722ed1;
}

$colors: (
  'blue',
  'green',
  'red',
  'yellow',
  'pink',
  'orange',
  'gold',
  'lime',
  'cyan',
  'purple'
);

@include b($name) {
  // 设置组件 css var 变量
  @include set-component-css-var($name, $badge);

  position: relative;
  display: inline-block;

  // 数值
  @include m(count) {
    position: absolute;
    transform: translateX(50%);
    transform-origin: -10% center;
    top: -10px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 10;

    padding: getCssVar($name, 'count-padding');
    min-width: getCssVar($name, 'count-size');
    height: getCssVar($name, 'count-size');
    border-radius: getCssVar($name, 'count-radius');
    font-size: getCssVar($name, 'count-font-size');
    color: getCssVar('ivue-color-white');
    transition: getCssVar('ivue-transition-all');

    // slot
    &.is-slot {
      background: transparent;
      padding: 0;
      color: inherit;
      border-color: transparent;
      box-shadow: none;
      height: auto;
    }

    // 独立展示
    &.is-alone {
      position: relative;
      top: auto;
      transform: translateX(0);
    }
  }

  // 小红点
  @include m(dot) {
    position: absolute;
    transform: translateX(-50%);
    transform-origin: 0 center;
    border-radius: 100%;
    transform-origin: 0 center;
    z-index: 10;

    top: getCssVar($name, 'dot-position-top');
    right: getCssVar($name, 'dot-position-right');
    width: getCssVar($name, 'dot-size');
    height: getCssVar($name, 'dot-size');
    transition: getCssVar('ivue-transition-all');
  }
}

// 状态
@include b(#{$name}-status) {
  // 设置组件 css var 变量
  @include set-component-css-var($name, $badge);

  position: relative;
  display: flex;
  align-items: center;

  @include m(dot) {
    position: relative;
    border-radius: 50%;

    width: getCssVar($name, 'status-dot-size');
    height: getCssVar($name, 'status-dot-size');

    // success
    &.is-success {
      background-color: getCssVar('ivue-color-success');
    }

    // error
    &.is-error {
      background-color: getCssVar('ivue-color-error');
    }

    // default
    &.is-default {
      background-color: getCssVar('ivue-color-default');
    }

    // processing
    &.is-processing {
      background-color: getCssVar('ivue-color-primary');

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 1px solid getCssVar('ivue-color-primary');
        animation: aniStatusProcessing 1.2s infinite ease-in-out;
      }
    }

    // warning
    &.is-warning {
      background-color: getCssVar('ivue-color-warning');
    }

    @each $color in $colors {
      &.is-#{$color} {
        background-color: getCssVar('ivue-badge-status-dot-bg-#{$color}');
      }
    }
  }

  // text
  @include m(text) {
    color: getCssVar('ivue-title-color');
    font-size: getCssVar('ivue-font-size-base');
    margin-left: getCssVar($name, 'status-dot-size');
  }
}

.#{$name}-fade-enter-active,
.#{$name}-fade-leave-active {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}

.#{$name}-fade-enter-from,
.#{$name}-fade-leave-to {
  transform: scale(0);
}

@keyframes aniStatusProcessing {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }

  100% {
    transform: scale(2.4);
    opacity: 0;
  }
}
