@use 'sass:map';
@use '@ivue-material-plus/styles/mixins/var.scss' as *;

// disabled
$disabled: () !default;
$disabled: map.merge(
  (
    'color': #c5c8ce,
  ),
  $disabled
);

// color
$colors: () !default;
$colors: map.deep-merge(
  (
    'white': #ffffff,
    'primary': (
      'base': #5b8eff,
    ),
    'success': (
      'base': #27e2b2,
    ),
    'error': (
      'base': #ff617f,
    ),
    'warning': (
      'base': #ffbd3c,
    ),
    'default': #dee2e7,
  ),
  $colors
);

// badge
$badge-status-dot-bg: () !default;
$badge-status-dot-bg: map.merge(
  (
    'blue': #1890ff,
    'green': #52c41a,
    'red': #f5222d,
    'yellow': #fadb14,
    'pink': #eb2f96,
    'orange': #fa8c16,
    'gold': #faad14,
    'lime': #a0d911,
    'cyan': #13c2c2,
    'purple': #722ed1,
  ),
  $badge-status-dot-bg
);

// ivue-bottom-nav
$ivue-bottom-nav: () !default;
$ivue-bottom-nav: map.merge(
  (
    'shadow': rgba(0, 0, 0, 0.12),
    'no-active-color': rgba(0, 0, 0, 0.54),
  ),
  $ivue-bottom-nav
);

// color
$color-white: map.get($colors, 'white') !default;
$color-primary: map.get($colors, 'primary', 'base') !default;
$color-success: map.get($colors, 'success', 'base') !default;
$color-error: map.get($colors, 'error', 'base') !default;
$color-warning: map.get($colors, 'warning', 'base') !default;
$color-default: map.get($colors, 'default') !default;

// title
$title-color: #383d47;

:root {
  // title
  @include set-css-var-value('ivue-title-color', $title-color);

  // color
  @include set-css-var-value('ivue-color-white', $color-white);
  @include set-css-var-value('ivue-color-primary', $color-primary);
  @include set-css-var-value('ivue-color-success', $color-success);
  @include set-css-var-value('ivue-color-error', $color-error);
  @include set-css-var-value('ivue-color-warning', $color-warning);
  @include set-css-var-value('ivue-color-default', $color-default);

  // disabled
  @include set-component-css-var('ivue-disabled', $disabled);

  // badge
  @include set-component-css-var(
    'ivue-badge-status-dot-bg',
    $badge-status-dot-bg
  );

  // ivue-bottom-nav
  @include set-component-css-var('ivue-bottom-nav', $ivue-bottom-nav);
}
