@use 'function.scss' as *;

.ivue-animation-loop {
  animation: IvueLoop 1s linear infinite;
}

@keyframes IvueLoop {
  from {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(360deg);
  }
}
