:root {
  --ivue-disabled-color: #cccccc;
  --ivue-white-color: #ffffff;
  --ivue-primary-color: #5B8EFF;
  --ivue-success-color: #27E2B2;
  --ivue-warning-color: #FFBD3C;
  --ivue-error-color: #FF617F;
  --ivue-black-color: #000000;

  --ivue-default-color: #DEE2E7;
  --ivue-title-color: #383D47;
  --ivue-text-color: #4A505E;
  --ivue-border-multiple-color: #e8eaec;

  // background
  --ivue-background-color-select-hover: #f3f3f3;
  --ivue-background-color-multiple: #f7f7f7;

  // input
  --ivue-input-disabled-color: #c5c8ce;
  --ivue-input-disabled-bg: #ededed;
  --ivue-input-placeholder-color: #c5c8ce;

  --ivue-cursor-disabled: not-allowed;
  --ivue-border-color: #dcdee2;
  --ivue-legend-color: #999999;
  --ivue-arrow-color: #808695;

  // size
  --ivue-font-small-size: 12px;
  --ivue-font-base-size: 14px;
  --ivue-font-default-size: 16px;
  --ivue-font-large-size: 18px;

  // radius
  --ivue-border-radius-small: 4px;
}

// button
$ivue-button-min-width: 88px;
$ivue-button-height: 36px;
$ivue-button-radius: 5px;
$ivue-button-font-size: 14px;
$ivue-button-dense-height: 32px;
$ivue-button-icon-size: 36px;

// icon
$icon-size: 24px;

// color
$primary-color: #5B8EFF;
$success-color:#27E2B2;
$warning-color:#FFBD3C;
$error-color: #FF617F;
$disabled-color: #ccc;
$divider-color: rgba(0, 0, 0, 0.38);
$text-color:#4A505E;
$text-disable-color:#c5c8ce;
$arrow-color: #808695;
$border-color: #dcdee2;
$border-multiple-color: #e8eaec;
$legend-color: #999;
$title-color:#383D47;
$accent-color: rgba(0, 0, 0, .87);
$white-color:#fff;
$label-color: #606266;
$popper-color: #ebeef5;

$dark: #515a6e;

// cursor
$cursor-disabled: not-allowed;

// input
$input-height-base: 36px;
$input-placeholder-color: #c5c8ce;
$input-disabled-color: #c5c8ce;
$input-disabled-bg: #ededed;

// background
$background-color-select-hover: #f3f3f3;
$background-color-multiple: #f7f7f7;

// steps
$steps-border-color: #ccc;
$steps-title-color: #666;

// size
$font-small-size: 12px;
$font-large-size: 18px;
$font-base-size: 14px;
$font-default-size: 16px;

// progress
$progress-bg: #F8F9FD;

// radius
$border-radius-small: 4px;

// extensible
$extensible-color: #bfcbd9;

// transition
$ease-in-out: ease-in-out;

// disabled
$ivue-button--raised: #F8F9FD
