:root {
  --ivue-disabled-color: #cccccc;
  --ivue-white-color: #ffffff;
  --ivue-primary-color: #5b8eff;
  --ivue-success-color: #27e2b2;
  --ivue-warning-color: #ffbd3c;
  --ivue-error-color: #ff617f;
  --ivue-black-color: #000000;

  --ivue-default-color: #dee2e7;
  --ivue-title-color: #383d47;
  --ivue-text-color: #4a505e;
  --ivue-border-multiple-color: #e8eaec;

  // background
  --ivue-background-color-select-hover: #f3f3f3;
  --ivue-background-color-multiple: #f7f7f7;

  // input
  --ivue-input-disabled-color: #c5c8ce;
  --ivue-input-disabled-bg: #ededed;
  --ivue-input-placeholder-color: #c5c8ce;
  --ivue-cursor-disabled: not-allowed;
  --ivue-border-color: #dcdee2;
  --ivue-legend-color: #999999;
  --ivue-arrow-color: #808695;

  // size
  --ivue-font-small-size: 12px;
  --ivue-font-base-size: 14px;
  --ivue-font-default-size: 16px;
  --ivue-font-large-size: 18px;

  // radius
  --ivue-border-radius: 4px;

  // transition
  --ivue-all-transition: all 0.2s ease-in-out;

  --ivue-default-transition-time: 0.2s;
  --ivue-ease-in-out: ease-in-out;
}
