@use 'config';

// 获取 css var
// getCssVar(组件名称, 样式名称) => var(--ivue-组件名称-样式名称)
@function getCssVar($args...) {
  @return var(#{joinVarName($args)});
}

// 加入变量名称
// joinVarName((组件名称, 样式名称)) => '--ivue-组件名称-样式名称'
@function joinVarName($list) {
  $name: '-';

  @each $item in $list {
    // 有参数
    @if $item != '' {
      $name: '#{$name}-#{$item}';
    }
  }

  @return $name;
}

// 获取 css var 名称
// getCssVarName(组件名称, 'text-color') => '--el-button-text-color'
@function getCssVarName($args...) {
  @return joinVarName($args);
}

// 命中所有特殊嵌套规则
@function hitAllSpecialNestRule($selector) {
  // 包含修饰符
  @return containsModifier($selector) or containWhenFlag($selector) or
    containPseudoClass($selector);
}

// 包含修饰符
@function containsModifier($selector) {
  $selector: selectorToString($selector);

  @if str-index($selector, config.$modifier-separator) {
    @return true;
  } @else {
    @return false;
  }
}

// 包含 When 标志
@function containWhenFlag($selector) {
  $selector: selectorToString($selector);

  @if str-index($selector, '.' + config.$state-prefix) {
    @return true;
  } @else {
    @return false;
  }
}

// 包含伪类
@function containPseudoClass($selector) {
  $selector: selectorToString($selector);

  @if str-index($selector, ':') {
    @return true;
  } @else {
    @return false;
  }
}

// BEM 支持函数
@function selectorToString($selector) {
  // 返回 $value 的字符串表示形式
  $selector: inspect($selector);
  // 返回从索引 $start-at 开始到索引 $end-at（包括两者）结束的 $string
  $selector: str-slice($selector, 2, -2);

  @return $selector;
}
