@use 'base.scss' as *;
@use 'mixins/mixins' as *;
@use 'common/var.scss' as *;

$name: 'ivue-back-top';

@include b($name) {
  // 设置组件 css var 变量
  @include set-component-css-var($name, $back-top);

  position: fixed;
  cursor: pointer;
  z-index: 10;

  @include e(content) {
    display: flex;
    align-items: center;
    justify-content: center;

    width: getCssVar($name, 'size');
    height: getCssVar($name, 'size');
    border-radius: getCssVar($name, 'radius');
    background: getCssVar($name, 'bg');
    color: getCssVar($name, 'color');
  }
}
