@use 'base.scss' as *;
@use 'mixins/mixins' as *;
@use 'common/var.scss' as *;
@use 'common/transition.scss' as *;
@use './ivue-icon.scss' as *;

$name: 'ivue-select';

@include b($name) {
  // 设置组件 css var 变量
  @include set-component-css-var($name, $select);

  position: relative;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  vertical-align: middle;
  line-height: normal;

  color: getCssVar($name, 'color');
  font-size: getCssVar('ivue-font-size-base');

  // 禁用样式
  @include when(disabled) {
    // 选择框样式
    @include b(#{$name}-selection) {
      opacity: 1;
      cursor: not-allowed;

      color: getCssVar($name, 'disabled-color');
      background-color: getCssVar($name, 'disabled-bg');

      // hover
      &:hover {
        border-color: getCssVar($name, 'border');
      }
    }

    // 选中框箭头
    .#{$name}-head__arrow {
      color: getCssVar($name, 'disabled-color');
    }
  }

  // 默认样式
  @include m(default) {

    // 选择框样式
    @include b(#{$name}-selection) {
      position: relative;
      height: getCssVar($name, 'input-height');

      // 输入提示
      .is-placeholder {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 24px 0 8px;

        font-size: getCssVar('ivue-font-size-base');
        line-height: calc(getCssVar($name, 'input-height') - 2px);
        height: calc(getCssVar($name, 'input-height') - 2px);
        color: getCssVar('ivue-input-placeholder');
      }
    }

    // 过滤输入框
    .#{name}-input__filter {
      width: 100%;
    }
  }

  // 开启了多选
  @include m(multiple) {
    .#{$name}-head__prefix {
      padding: 0 4px 0 0;
    }

    // 多选时的标签
    .#{$name}-tag {
      height: 28px;
      line-height: 26px;
      margin: 3px 4px 3px 0;
      max-width: 100%;
      position: relative;

      i {
        display: block;
        position: absolute;
        right: 4px;
        top: 0;
      }
    }

    // 没有最大限制值
    .#{$name}-tag span:not(.is-max) {
      display: block;
      margin-right: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    // 选项
    .#{$name}-item {
      &-selected:after {
        @include ivue-icon;

        content: 'done';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 8px;
        padding: 0 !important;
        font-size: 17px;
        color: currentColor;
        transition: none;
      }
    }

    // 多选样式
    .#{$name}-selection {
      padding: 0 24px 0 4px;

      .is-placeholder {
        position: absolute;
        top: 0;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 22px 0 4px;

        height: calc(getCssVar($name, 'input-height') - 2px);
        line-height: calc(getCssVar($name, 'input-height') - 2px);
        color: getCssVar('ivue-input-placeholder');
        font-size: getCssVar('ivue-font-size-base');
      }
    }

    // 输入框过滤
    .#{$name}-input__filter {
      flex: 1;
      padding: 0 0 0 4px;

      height: calc(getCssVar($name, 'input-height') - 2px);
      line-height: calc(getCssVar($name, 'input-height') - 2px);
    }

    // 头部开启了过滤 && 自定义了 prefix && 开启了多选
    .#{$name}-head.is-flex {
      .#{$name}-head__prefix {
        margin-right: 4px;
      }
    }

    // 过滤输入框没输入时的样式
    .is-filter-placeholder {
      height: calc(getCssVar($name, 'input-height') - 2px);
      line-height: calc(getCssVar($name, 'input-height') - 2px);
    }

    // tag 隐藏
    .is-tag-hidden {
      margin-right: 0 !important;
    }
  }

  // 菜单显示
  @include m(visible) {
    // 选择框样式
    .#{$name}-selection {
      outline: 0;

      border-color: getCssVar($name, 'selection-border-visible');
      box-shadow: 0 0 0 2px getCssVar($name, 'dropdown-shadow');
    }

    // 选中框箭头
    .#{$name}-head__arrow {
      transform: rotate(180deg);
      transform-origin: center center;
    }
  }

  // 开启 autoComplete
  .ivue-auto-complete {
    height: auto;
  }
}

// 菜单数据列表
@include b(#{$name}-item) {
  position: relative;
  margin: 0;
  padding: 7px 16px;
  clear: both;
  line-height: normal;
  list-style: none;
  cursor: pointer;
  word-break: break-all;
  display: flex;
  align-items: center;
  transition: all $transition-default;

  color: getCssVar($name, 'color');
  font-size: getCssVar('ivue-font-size-base');

  @media screen and (min-width: 800px) {
    &:hover {
      color: getCssVar('ivue-color-white');
    }
  }

  // 是创建的选项
  @include when(create) {
    justify-content: space-between;

    .text {
      flex: 1;
      width: 100%;
      margin: 0;
    }

    i {
      font-size: getCssVar('ivue-font-size-base');
      margin: 0;
      transition: all 0.1s $transition-default-timing;
    }
  }

  // 选项菜单禁用样式
  @include when(disabled) {
    cursor: not-allowed;
    color: getCssVar($name, 'disabled-color');

    &:hover {
      color: getCssVar($name, 'disabled-color');
    }
  }

  // 选中选项
  @include when(selected) {
    opacity: 1;
    color: getCssVar('ivue-color-white');
  }
}

// 头部输入框
@include b(#{$name}-head) {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  // 头部开启prefix
  @include when(prefix) {
    .is-placeholder {
      position: relative !important;
    }
  }

  // 头部开启了过滤 && 自定义了 prefix
  @include when(flex) {
    display: flex;
    align-items: center;
    padding-left: 4px;
  }

  // 在 Select 内显示图标
  @include e(prefix) {
    padding-left: 4px;
    display: inline-block;
    vertical-align: middle;

    height: calc(getCssVar($name, 'input-height') - 2px);
    line-height: calc(getCssVar($name, 'input-height') - 2px);
  }

  // 输入框箭头方向
  @include e(arrow) {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    line-height: 1;
    font-weight: bold;
    height: 100%;
    transition: all 0.2s ease-in-out;

    color: getCssVar('ivue-arrow-color');
    font-size: getCssVar('ivue-font-size-middle');
  }

  // 删除图标
  @include e(clear) {
    text-align: center;
  }
}

// 多选和设置了最大显示数时的方框
@include b(#{$name}-tag) {
  position: relative;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  margin: 2px 4px 2px 0;
  padding: 0 8px;
  border-radius: 3px;
  vertical-align: middle;
  opacity: 1;
  overflow: hidden;
  transition: all $transition-default;

  font-size: getCssVar('ivue-font-size-base');
  background: getCssVar($name, 'tag-bg');
  border: 1px solid getCssVar($name, 'tag-border-color');

  // 文字
  @include e(text) {
    color: getCssVar($name, 'color');
    transition: color $transition-default;
  }

  // icon
  .ivue-icon {
    margin: 0;
    width: auto;
    min-width: auto;
    height: auto;
    cursor: pointer;
    font-size: 14px;
    line-height: 26px;
    transition: color $transition-default;

    color: getCssVar($name, 'icon-color');
  }

  // hover
  &:hover {
    background: getCssVar('ivue-color-primary');
    border-color: getCssVar('ivue-color-primary');

    // 文字
    .#{$name}-tag__text,
    .ivue-icon {
      color: getCssVar('ivue-color-white');
    }
  }
}

// 下拉菜单
@include b(#{$name}-dropdown) {
  position: absolute;
  padding: 5px 0;
  width: inherit;
  max-height: 200px;
  overflow: auto;
  box-sizing: border-box;
  z-index: 999;
  transform-origin: center top 0px;
  opacity: 1;

  box-shadow: 0 1px 6px getCssVar($name, 'dropdown-shadow');
  border-radius: getCssVar($name, 'radius');
  background-color: getCssVar('ivue-color-white');

  // placement
  &[data-popper-placement='top'] {
    transform-origin: center bottom 0px;
  }

  // 是否将弹层放置于 body 内
  @include when(transfer) {
    z-index: 1060;
    width: auto;
  }

  // 加载中
  @include e(loading) {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: getCssVar($name, 'loading-color');
    height: getCssVar($name, 'loading-height');
    padding: getCssVar($name, 'loading-padding');

    // load
    .is-load {
      margin-right: 10px;
      position: relative;

      width: getCssVar($name, 'loading-load-size');
      height: getCssVar($name, 'loading-load-size');
    }

    // circular
    .circular {
      width: 100%;
      height: 100%;
    }
  }

  // 没有数据时的提示
  @include e(not-find) {
    padding: 7px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: getCssVar($name, 'not-find');
    height: 100px;

    li {
      margin-bottom: 0;
    }
  }

  // 下拉菜单列表
  @include e(list) {
    width: 100%;
  }
}

// 选择框
@include b(#{$name}-selection) {
  display: block;
  position: relative;
  box-sizing: border-box;
  outline: none;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  background-color: getCssVar($name, 'selection-bg');
  min-height: getCssVar($name, 'input-height');
  border-radius: getCssVar($name, 'radius');
  border: 1px solid getCssVar($name, 'border');

  &:hover {
    border-color: getCssVar($name, 'selection-border-visible');
  }
}

// 输入框
@include b(#{$name}-input) {
  padding: 0;
  outline: 0;
  border: none;
  background: 0 0;
  cursor: inherit;
  color: getCssVar($name, 'title');

  // 有图标设置样式
  @include when(with-prefix) {
    flex: 1;
    padding-left: 4px !important;
    display: inline-block !important;
    vertical-align: middle;
  }

  // 有选择数据
  @include when(selection-value) {
    display: block;
    padding-left: 8px;
    padding-right: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: getCssVar('ivue-font-size-base');
    height: calc(getCssVar($name, 'input-height') - 2px);
    line-height: calc(getCssVar($name, 'input-height') - 2px);
  }

  // 过滤输入框
  @include e(filter) {
    display: inline-block;
    position: relative;
    padding: 0 24px 0 8px;
    outline: none;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;

    font-size: getCssVar('ivue-font-size-base');
    height: getCssVar($name, 'input-height');
    line-height: getCssVar($name, 'input-height');
    color: getCssVar($name, 'color');

    // placeholder
    @include placeholder;

    // disabled
    &[disabled] {
      cursor: not-allowed;
      color: getCssVar($name, 'disabled-color');
    }
  }
}

// 菜单数据列表group
@include b(#{$name}-group) {
  list-style: none;
  margin: 0;
  padding: 0;

  @include e(title) {
    padding-left: getCssVar($name, 'group-padding-left');
    height: getCssVar($name, 'group-height');
    line-height: getCssVar($name, 'group-height');
    font-size: getCssVar('ivue-font-size-base');
    color: getCssVar('ivue-legend-color');
  }
}

// 下拉菜单动画
.drop-transition-appear,
.drop-transition-enter-active {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-name: transitionDropIn;
  animation-play-state: running;
  opacity: 0;
  animation-timing-function: ease-in-out;
}

.drop-transition-leave-active {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-name: transitionDropOut;
  animation-play-state: running;
}

@keyframes transitionDropIn {
  0% {
    opacity: 0;
    transform: scaleY(0.8);
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes transitionDropOut {
  0% {
    opacity: 1;
    transform: scaleY(1);
  }

  100% {
    opacity: 0;
    transform: scaleY(0.8);
  }
}

// 多选选项动画
.multiple-transition-enter-active,
.multiple-transition-leave-active {
  transition: opacity 0.3s ease-in-out;
}

.multiple-transition-enter-from,
.multiple-transition-leave-to {
  opacity: 0;
}

// 提示输入框动画
.ivue-select-fade-enter-active,
.ivue-select-fade-leave-active {
  transition: opacity 0.3s ease-in-out;
}

.ivue-select-fade-enter-from,
.ivue-select-fade-leave-to {
  opacity: 0;
}

// 下拉菜单选项动画
.ivue-select-item-fade-enter-active {
  transition: opacity 0.3s ease-in-out;
}

.ivue-select-item-fade-enter-from,
.ivue-select-item-fade-leave-to {
  opacity: 0;
}
