@use 'base.scss' as *;
@use 'mixins/mixins' as *;
@use 'common/var.scss' as *;
@use 'common/transition.scss' as *;
@use 'animation/fade.scss' as *;

$name: 'ivue-loading';

@include b(#{$name}) {
  // 设置组件 css var 变量
  @include set-component-css-var($name, $loading);

  // 父节点
  @include e(parent) {
    @include m(relative) {
      position: relative !important;
    }
    @include m(hidden) {
      overflow: hidden !important;
    }
  }

  // 文字
  @include e(text) {
    color: currentColor;
    margin: 5px 0;
    font-size: getCssVar($name, 'font-size');
  }
}

// 蒙版
@include b(#{$name}-mask) {
  // 设置组件 css var 变量
  @include set-component-css-var($name, $loading);

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  background: getCssVar($name, 'mask-bg');
  margin: 0;

  // 全屏
  &.is-fullscreen {
    position: fixed;

    @include b(#{$name}-spinner) {
      margin-bottom: calc(getCssVar($name, 'spinner-fullscreen-size') / 2);
    }

    .circular {
      height: getCssVar($name, 'spinner-fullscreen-size');
      width: getCssVar($name, 'spinner-fullscreen-size');
    }
  }
}

// 内容
@include b(#{$name}-spinner) {
  position: absolute;
  top: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;

  color: getCssVar($name, 'color');

  @include e(content) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  // circular
  .circular {
    height: getCssVar($name, 'spinner-circular-size');
    width: getCssVar($name, 'spinner-circular-size');
    animation: getCssVar($name, 'circular-animation');
  }

  // path
  .path {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: 0;
    stroke-width: 3;
    stroke: currentColor;
    stroke-linecap: round;

    animation: getCssVar($name, 'path-animation');
  }

  // 图标
  i {
    width: auto;
    min-width: auto;
    height: auto;
    margin: 0;
  }
}
