@use 'base.scss' as *;
@use 'mixins/mixins' as *;
@use 'common/var.scss' as *;

$name: 'ivue-avatar';

@include b($name) {
  // 设置组件 css var 变量
  @include set-component-css-var($name, $avatar);

  display: inline-flex;
  text-align: center;
  color: getCssVar('ivue-color', 'white');
  background: getCssVar('ivue-disabled', 'color');
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  width: getCssVar($name, 'size');
  height: getCssVar($name, 'size');
  line-height: getCssVar($name, 'size');

  // 图片
  @include e(img) {
    width: 100%;
    height: 100%;
    object-fit: getCssVar('ivue-image-object-fit', 'cover');
  }

  // 圆形
  &.is-circle {
    border-radius: 50%;
  }

  // 正方形
  &.is-square {
    border-radius: getCssVar($name, 'square-radius');
  }
}
