$name: 'ivue-page';

:root {
  // total
  --#{$name}-total-height: 32px;
  --#{$name}-total-margin-right: 10px;
  --#{$name}-total-font-size: 14px;

  // item
  --#{$name}-item-margin-right: 5px;
  --#{$name}-item-line-height: 30px;
  --#{$name}-item-radius: 4px;

  // text
  --#{$name}-item-text-padding: 0 6px;

  // prev
  --#{$name}-item-icon-font-size: 20px;

  // abbreviation
  --#{$name}-abbreviation-font-size: 12px;
  --#{$name}-abbreviation-icon-font-size: 20px;

  // 小型分页样式
  --#{$name}-small-icon-line-height: 22px;

  // simple
  --#{$name}-simple-font-size: 18px;
  --#{$name}-simple-sign-padding: 0 8px 0 2px;
  --#{$name}-simple-input-width: 30px;
  --#{$name}-simple-input-padding: 4px 7px;
  --#{$name}-simple-input-margin: 0 8px;

  // input
  --#{$name}-input-shadow: 0 0 0 2px rgba(91, 142, 255, 0.2);

  // icon
  --#{$name}-icon-size: 24px;

  // options
  --#{$name}-options-margin-left: 15px;
  --#{$name}-options-sizer-margin-right: 10px;

  // elevator
  --#{$name}-options-elevator-height: 32px;
  --#{$name}-options-elevator-width: 50px;

  // color
  --#{$name}-disabled-color: #f8f9fd;
}

.#{$name} {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  // 数据总条数文字
  &-total {
    display: inline-block;
    height: var(--#{$name}-total-height);
    line-height: var(--#{$name}-total-height);
    margin-right: var(--#{$name}-total-margin-right);
    font-size: var(--#{$name}-total-font-size);
  }

  // 选项
  &-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    margin-right: var(--#{$name}-item-margin-right);
    min-width: var(--#{$name}-total-height);
    height: var(--#{$name}-total-height);
    line-height: var(--#{$name}-item-line-height);
    list-style: none;
    cursor: pointer;
    border: 1px solid var(--ivue-border-color);
    border-radius: var(--#{$name}-item-radius);
    transition: var(--ivue-all-transition);
    color: var(--ivue-text-color);

    &:hover {
      color: var(--ivue-primary-color);
      border-color: var(--ivue-primary-color);
    }

    // 文字
    &--text {
      padding: var(--#{$name}-item-text-padding);
      font-size: var(--#{$name}-total-font-size);
    }

    // 激活
    &--active {
      color: var(--ivue-primary-color);
      border-color: var(--ivue-primary-color);
    }
  }

  // 上一页 下一页
  &-prev,
  &-next {
    color: var(--ivue-arrow-color);

    i {
      transition: none;
      font-size: var(--#{$name}-item-icon-font-size);
    }
  }

  // 下一页
  &-next {
    margin-right: 0;
  }

  // 缩略号
  &-abbreviation {
    border-color: transparent;
    background: none;
    transition: none;
    box-shadow: none;
    overflow: hidden;
    font-size: var(--#{$name}-abbreviation-font-size);

    i {
      font-size: var(--#{$name}-abbreviation-icon-font-size);
    }

    // 缩略号
    .abbreviation {
      letter-spacing: 1px;
      color: var(--ivue-disabled-color);
      text-align: center;
    }

    // 箭头
    .arrow {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: none;

      .ivue-icon {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin-left: 5px;
        color: var(--ivue-primary-color);
        font-size: var(--#{$name}-abbreviation-icon-font-size);

        &:first-child {
          margin-left: -1px;
        }
      }
    }

    &:hover {
      border-color: transparent;

      .abbreviation {
        display: none;
      }

      .arrow {
        display: flex;
        color: var(--ivue-primary-color);
      }
    }
  }

  // 小型分页样式
  &-small {
    // 上一页 下一页
    .#{$name}-prev,
    .#{$name}-next {
      margin: 0;
      min-width: var(--#{$name}-icon-size);
      height: var(--#{$name}-icon-size);
      line-height: var(--#{$name}-small-icon-line-height);
      border: 0;
    }

    // 选项
    .#{$name}-item {
      border: 0;
      margin: 0;
      min-width: var(--#{$name}-icon-size);
      height: var(--#{$name}-icon-size);
      line-height: var(--#{$name}-icon-size);
    }

    // 省略号
    .#{$name}-abbreviation .arrow .ivue-icon {
      font-size: var(--#{$name}-total-font-size);
      margin-left: 2px;

      &:first-child {
        margin-left: -2px;
      }
    }

    // 选择页数
    .#{$name}-options--sizer {
      .ivue-select-default .ivue-select-selection {
        height: var(--#{$name}-icon-size);
        min-height: var(--#{$name}-icon-size);
      }

      .ivue-select-selection-value {
        height: var(--#{$name}-icon-size);
        line-height: var(--#{$name}-icon-size);
      }
    }

    // 跳转页数
    .#{$name}-options--elevator__input {
      height: var(--#{$name}-icon-size);
    }
  }

  // 简洁版
  &-simple {
    // 上一页 下一页
    .#{$name}-prev,
    .#{$name}-next {
      margin: 0;
      border: 0;
      height: var(--#{$name}-icon-size);
      line-height: normal;
      font-size: var(--#{$name}-simple-font-size);
    }

    // 页数
    &-page {
      display: inline-block;
      margin-right: 8px;
      vertical-align: middle;
    }

    // 符号
    &-sign {
      padding: var(--#{$name}-simple-sign-padding);
    }

    // 输入框
    &-input {
      position: relative;
      display: inline-block;
      width: var(--#{$name}-simple-input-width);
      height: var(--#{$name}-icon-size);
      padding: var(--#{$name}-simple-input-padding);
      font-size: var(--#{$name}-total-font-size);
      border: 1px solid var(--ivue-border-color);
      color: var(--ivue-text-color);
      background-color: var(--ivue-white-color);
      background-image: none;
      cursor: text;
      transition: var(--ivue-all-transition);
      border-radius: var(--ivue-border-radius);
      margin: var(--#{$name}-simple-input-margin);
      text-align: center;

      &:focus {
        outline: 0;
        box-shadow: var(--#{$name}-input-shadow);
      }

      &:focus,
      &:hover {
        border-color: var(--ivue-primary-color);
      }

      &[disabled] {
        background-color: var(--#{$name}-disabled-color);
        opacity: 1;
        cursor: var(--ivue-cursor-disabled) !important;
        color: var(--ivue-input-disabled-color);

        &:hover {
          border-color: var(--ivue-border-color);
        }
      }
    }
  }

  // 禁用
  &-disabled {
    cursor: not-allowed;
    color: var(--ivue-disabled-color);

    &:hover {
      color: var(--ivue-disabled-color);
      border-color: var(--ivue-border-color);
    }
  }

  // slot
  &-slot {
    border-color: transparent;

    &:hover {
      border-color: transparent;
    }
  }

  // 选项
  &-options {
    display: inline-block;
    vertical-align: middle;
    margin-left: var(--#{$name}-options-margin-left);

    // 显示分页
    &--sizer {
      display: inline-block;
      margin-right: var(--#{$name}-options-sizer-margin-right);

      // 下拉框样式
      &__dropdown {
        width: auto;
      }

      // 下拉框样式
      .ivue-select-default .ivue-select-selection {
        height: var(--#{$name}-total-height);
        min-height: var(--#{$name}-total-height);
      }

      // 下拉框样式
      .ivue-select-selection-value {
        height: var(--#{$name}-item-line-height);
        line-height: var(--#{$name}-item-line-height);
        font-size: var(--#{$name}-total-font-size);
      }
    }

    // 电梯
    &--elevator {
      display: inline-block;
      vertical-align: middle;
      height: var(--#{$name}-options-elevator-height);
      line-height: var(--#{$name}-options-elevator-height);
      font-size: var(--#{$name}-total-font-size);
      color: var(--ivue-text-color);

      // 输入框
      &__input {
        display: inline-block;
        padding: var(--#{$name}-simple-input-padding);
        font-size: var(--#{$name}-total-font-size);
        border: 1px solid var(--ivue-border-color);
        color: var(--ivue-text-color);
        background-color: var(--ivue-white-color);
        background-image: none;
        position: relative;
        cursor: text;
        transition: var(--ivue-all-transition);
        border-radius: var(--ivue-border-radius);
        margin: 0 8px;
        width: var(--#{$name}-options-elevator-width);
        height: var(--#{$name}-total-height);

        &:focus {
          outline: 0;
          box-shadow: var(--#{$name}-input-shadow);
        }

        &:focus,
        &:hover {
          border-color: var(--ivue-primary-color);
        }

        &[disabled] {
          background-color: var(--#{$name}-disabled-color);
          opacity: 1;
          cursor: var(--ivue-cursor-disabled) !important;
          color: var(--ivue-input-disabled-color);

          &:hover {
            border-color: var(--ivue-border-color);
          }
        }
      }
    }
  }
}
