@use 'sass:map';
@use '@ivue-material-plus/styles/mixins/var.scss' as *;

// disabled
$disabled: () !default;
$disabled: map.merge(
  (
    'color': #c5c8ce,
  ),
  $disabled
);

// color
$color-white: #ffffff !default;

:root {
  // color
  @include set-css-var-value('ivue-color-white', $color-white);

  // disabled
  @include set-component-css-var('ivue-disabled', $disabled);
}
